<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logo-white.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="" class="nav-busqueda">
            <input type="text">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bell" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </div>
                </li>
                <div class="line-menu-header"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="/assets/img/user.png" alt="Usuario">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Editar datos</a>
                        <a class="dropdown-item" href="#">Configurar cuenta</a>
                        <a class="dropdown-item" href="#">Ayuda</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout" href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link help" href="#">Ayuda</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- // menú -->
</header>
<!-- // header -->


<!-- Resultados -->
<div class="col-xs-12 resultados-header">
    <p>Encontramos
        <span class="bold">25 lugares disponibles</span>
    </p>
    <form id="resultados-form" action="" method="">
        <div class="form-group cats">
            <label for="">Categorías</label>
            <select class="js-example-basic-single-4" name="cats" lang="es">
                <option value="" selected="">Medicina</option>
                <option value="">Traumatología</option>
                <option value="">Cardiología</option>
            </select>
        </div>
        <div class="form-group fecha-reserva">
            <label>Fecha de reserva</label>
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="input-group-addon form-control" placeholder="22 de Mayo" />
            </div>
        </div>
        <input type="submit" name="" value="Buscar">
    </form>
</div>
<!-- // resultados -->
<div class="">
    <div class="col-xs-12 col-md-12 modal-filtros">
        <div class="inside-filtros">
            <div class="col-12 col-md-3 offset-md-4 filter-search modal-f-s">
                <a href="#" id="close-filter">X</a>
                <div class="col-xs-12 white">
                    <div class="menu-filters">
                        <a href="" class="activeFilters" id="filtro-simple">Filtros</a>
                        <a href="" id="filtro-extra">Filtros extras</a>
                    </div>
                    <form action="" method="" class="form-filter">
                        <!-- Especialidad -->
                        <label>Especialidad</label>
                        <p>
                            <input type="checkbox" id="cbox1" value="first_checkbox" (click)="FiltrarEspecialidad('Clínico',$event)">
                            <label for="cbox1">Clínico</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cbox2" value="second_checkbox" (click)="FiltrarEspecialidad('Traumatología',$event)">
                            <label for="cbox2">Traumatología</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cbox3" value="third_checkbox" (click)="FiltrarEspecialidad('Pediatría',$event)">
                            <label for="cbox3">Pediatría</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cbox4" value="fourth_checkbox" (click)="FiltrarEspecialidad('Neurología',$event)">
                            <label for="cbox4">Neurología</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cbox5" value="fifth_checkbox" (click)="FiltrarEspecialidad('Cardiología',$event)">
                            <label for="cbox5">Cardiología</label>
                        </p>

                        <div class="divider-filtros"></div>

                        <!-- Sub especialidad -->
                        <label>Sub especialidad</label>
                        <p>
                            <input type="checkbox" id="chbox1" value="primer_checkbox" (click)="FiltrarSubEspecialidad('Extremidades',$event)">
                            <label for="chbox1">Extremidades</label>
                        </p>
                        <p>
                            <input type="checkbox" id="chbox2" value="segundo_checkbox" (click)="FiltrarSubEspecialidad('Columna',$event)">
                            <label for="chbox2">Columna</label>
                        </p>
                        <p>
                            <input type="checkbox" id="chbox3" value="tercer_checkbox" (click)="FiltrarSubEspecialidad('Rehabilitación',$event)">
                            <label for="chbox3">Rehabilitación</label>
                        </p>
                        <div class="divider-filtros"></div>
                        <!-- Obra Social -->
                        <label>Obra Social</label>
                        <p>
                            <input type="checkbox" id="chbox1o" value="primer_checkbox_obra" (click)="FiltrarObrasSocial('Galeno',$event)">
                            <label for="chbox1o">Galeno</label>
                        </p>
                        <p>
                            <input type="checkbox" id="chbox2o" value="segundo_checkbox_obra" (click)="FiltrarObrasSocial('Osde',$event)">
                            <label for="chbox2o">Osde</label>
                        </p>
                        <p>
                            <input type="checkbox" id="chbox3o" value="tercer_checkbox_obra" (click)="FiltrarObrasSocial('Swiss Medical',$event)">
                            <label for="chbox3o">Swiss Medical</label>
                        </p>
                        <p>
                            <input type="checkbox" id="chbox4o" value="cuarto_checkbox_obra" (click)="FiltrarObrasSocial('Pami',$event)">
                            <label for="chbox4o">Pami</label>
                        </p>
                        <p>
                            <input type="checkbox" id="chbox5o" value="quinto_checkbox_obra" (click)="FiltrarObrasSocial('Medicus',$event)">
                            <label for="chbox5o">Medicus</label>
                        </p>
                        <p>
                            <input type="checkbox" id="chbox6o" value="sexto_checkbox_obra" (click)="FiltrarObrasSocial('Hospital Aleman',$event)">
                            <label for="chbox6o">Hospital Aleman</label>
                        </p>
                        <div class="divider-filtros"></div>

                        <!-- Ubicación -->
                        <label>Ubicación</label>
                        <p>
                            <input type="checkbox" id="chebox1" value="pr_checkbox">
                            <label for="chebox1">Capital Federal
                                <span class="small-number">(352)</span>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="chebox2" value="se_checkbox">
                            <label for="chebox2">Bs. As. G.B.A Norte
                                <span class="small-number">(220)</span>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="chebox3" value="te_checkbox">
                            <label for="chebox3">Bs. As. G.B.A Sur
                                <span class="small-number">(120)</span>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="chebox4" value="cu_checkbox">
                            <label for="chebox4">Bs. As. G.B.A Oeste
                                <span class="small-number">(85)</span>
                            </label>
                        </p>

                        <a href="" class="see-more">Ver más</a>

                        <div class="divider-filtros"></div>


                        <!-- Distancia -->
                        <label>Distancia desde mi ubicación</label>
                        <div class="range-slider">
                            <input class="range-slider__range" type="range" value="0" min="0" max="100" (change)="FiltrarDistancia($event)" >
                            <span  class="range-slider__value">0</span >
                        </div>
                        <input id="Distancia" type="text" name="desplazo" placeholder="km" class="range-slider" >

                        <div class="divider-filtros"></div>

                        <button class="delete-filters btn-transparent pointer" (click)="BorrarFiltros()">Borrar todos los filtros</button>
                        <a href="" class="aplicar-filters">Aplicar todos</a>

                    </form>

                    <form action="" method="" class="form-filter-extra">

                        <!-- Puntuación -->
                        <label>Puntuación de clientes</label>
                        <p class="general-puntuacion">0</p>
                        <p class="general-puntuacion wrong">1+</p>
                        <p class="general-puntuacion medium">5+</p>
                        <p class="general-puntuacion good">7+</p>

                        <div class="divider-filtros"></div>


                        <!-- Cantidad de opiniones -->
                        <label>Cantidad de opiniones</label>
                        <p>
                            <input type="checkbox" id="cfbox1" value="firstf_checkbox">
                            <label for="cfbox1">0-10</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox2" value="secondf_checkbox">
                            <label for="cfbox2">10-30</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox3" value="thirdf_checkbox">
                            <label for="cfbox3">30-50</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox4" value="fourthf_checkbox">
                            <label for="cfbox4">más de 50</label>
                        </p>

                        <div class="divider-filtros"></div>

                        <!-- Servicios -->
                        <label for="">Servicios</label>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Guardia</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Radiografías</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Internación</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>WiFi</span>
                        </p>

                        <div class="divider-filtros"></div>

                        <a href="" class="delete-filters">Borrar todos los filtros</a>

                    </form>

                </div>


            </div>
        </div>
    </div>
    <!-- BÚSQUEDA-->
    <div class="row">
        <section class="col-12 col-md-10 offset-md-1  search-section">

            <div class="row">
                <!-- Filtros -->
                <div class="col-12 col-md-4 float-left filter-search mapa-filter">
                    <div class="row">
                        <h2>Filtros aplicados actualmente (3)</h2>
                        <a href="#" id="more-filters">Filtrar más</a>
                    </div>

                    <div class="col-xs-12 clinicas-scroll">
                        <div class="col-xs-12 inside-scroll">
                            <div *ngFor="let row of clinicas">
                                <a href="javascript:void(0)">
                                    <div class="col-xs-12 col-md-12 box">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-5">
                                                <img src="/assets/img/clinica.png">
                                            </div>
                                            <div class="col-xs-12 col-md-7">
                                                <h3>{{row.name}}</h3>
                                                <p class="location">
                                                    <i class="fa fa-map-marker"></i>{{row.address}}</p>
                                                <div class="punt">{{row.score | number:'.1-5' }}</div>
                                                <div class="stars">
                                                    <span *ngFor="let scor of score">
                                                        <span *ngIf="row.score -scor >= scor">
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>

                            <!-- <a href="javascript:void(0)">
                                <div class="col-xs-12 col-md-12 box">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-5">
                                            <img src="/assets/img/clinica.png">
                                        </div>
                                        <div class="col-xs-12 col-md-7">
                                            <h3>Clínica Bazterrica</h3>
                                            <p class="location">
                                                <i class="fa fa-map-marker"></i>Billinghurst 2072</p>
                                            <div class="punt">9.3</div>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>

                            <a href="javascript:void(0)">
                                <div class="col-xs-12 col-md-12 box">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-5">
                                            <img src="/assets/img/clinica.png">
                                        </div>
                                        <div class="col-xs-12 col-md-7">
                                            <h3>Clínica Bazterrica</h3>
                                            <p class="location">
                                                <i class="fa fa-map-marker"></i>Billinghurst 2072</p>
                                            <div class="punt">9.3</div>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>

                            <a href="javascript:void(0)">
                                <div class="col-xs-12 col-md-12 box">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-5">
                                            <img src="/assets/img/clinica.png">
                                        </div>
                                        <div class="col-xs-12 col-md-7">
                                            <h3>Clínica Bazterrica</h3>
                                            <p class="location">
                                                <i class="fa fa-map-marker"></i>Billinghurst 2072</p>
                                            <div class="punt">9.3</div>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>

                            <a href="javascript:void(0)">
                                <div class="col-xs-12 col-md-12 box">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-5">
                                            <img src="/assets/img/clinica.png">
                                        </div>
                                        <div class="col-xs-12 col-md-7">
                                            <h3>Clínica Bazterrica</h3>
                                            <p class="location">
                                                <i class="fa fa-map-marker"></i>Billinghurst 2072</p>
                                            <div class="punt">9.3</div>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!--  //filtros -->


                <!-- Clinicas listado mapa -->
                <div class="col-12 col-md-8 float-left clinica-search">
                    <div id="google-map" class="google-map"></div>
                </div>
            </div>
        </section>

        <!-- // Búsqueda -->
    </div>
</div>