

<!-- Resultados -->
<div class="col-xs-12 resultados-header">
    <p>Encontramos
        <span class="bold">25 lugares disponibles</span>
    </p>
    <form id="resultados-form" action="" method="">
        <div class="form-group cats">
            <label for="">Categorías</label>
            <select class="js-example-basic-single-4" name="cats" lang="es">
                <option value="" selected="">Medicina</option>
                <option value="">Traumatología</option>
                <option value="">Cardiología</option>
            </select>
        </div>
        <div class="form-group fecha-reserva">
            <label>Fecha de reserva</label>
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="input-group-addon form-control" placeholder="22 de Mayo" />
            </div>
        </div>
        <input type="submit" name="" value="Buscar">
    </form>
</div>
<!-- // resultados -->
<div class="">
    <div class="col-xs-12 col-md-12 modal-filtros">
        <div class="inside-filtros">
            <div class="col-12 col-md-3 offset-md-4 filter-search modal-f-s">
                <a href="#" id="close-filter">X</a>
                <div class="col-xs-12 white">
                    <div class="menu-filters">
                        <a href="" class="activeFilters" id="filtro-simple">Filtros</a>
                        <a href="" id="filtro-extra">Filtros extras</a>
                    </div>
                    <form action="" method="" class="form-filter">
                        <!-- Especialidad -->
                        <label>Especialidad</label>
                        <div *ngFor="let row of especialidades">
                            <p>
                                <input type="checkbox" id="cbox{{row.id}}" value="first_checkbox" (click)="FiltrarEspecialidad(row.id,$event)">
                                <label for="cbox{{row.id}}">{{row.text}}</label>
                            </p>
                        </div>

                        <div class="divider-filtros"></div>

                        <!-- Sub especialidad -->
                        <label>Sub especialidad</label>
                        <div *ngFor="let row of subEspecialidades">
                            <p>
                                <input type="checkbox" id="chbox{{row.id}}" value="primer_checkbox" (click)="FiltrarSubEspecialidad(row.id,$event)">
                                <label for="chbox{{row.id}}">{{row.text}}</label>
                            </p>
                        </div>


                        <div class="divider-filtros"></div>
                        <!-- Obra Social -->
                        <label>Obra Social</label>
                        <div *ngFor="let row of obrasSociales">
                            <p>
                                <input type="checkbox" id="chbox{{row.id}}o" value="primer_checkbox_obra" (click)="FiltrarObrasSocial(row.id,$event)">
                                <label for="chbox{{row.id}}o">{{row.text}}</label>
                            </p>
                        </div>
                        <div class="divider-filtros"></div>

                        <!-- Ubicación -->
                        <label>Ubicación</label>
                        <div *ngFor="let row of cities">
                            <p>
                                <input type="checkbox" id="chboxCtiy{{row.id}}o" value="primer_checkbox_obra" (click)="FiltrarCities(row.id,$event)">
                                <label for="chboxCtiy{{row.id}}o">{{row.text}}</label>
                            </p>
                        </div>

                        <a href="" class="see-more">Ver más</a>

                        <div class="divider-filtros"></div>


                        <!-- Distancia -->
                        <label>Distancia desde mi ubicación</label>
                        <div class="range-slider">
                            <input class="range-slider__range" type="range" value="0" min="0" max="100" (change)="FiltrarDistancia($event)">
                            <span class="range-slider__value">0</span>
                        </div>
                        <input id="Distancia" type="text" name="desplazo" placeholder="km" class="range-slider">

                        <div class="divider-filtros"></div>

                        <button class="delete-filters btn-transparent pointer" (click)="BorrarFiltros()">Borrar todos los filtros</button>
                        <button  (click)="AplicarFiltros()" class=" btn btn-success aplicar-filters">Aplicar todos</button>

                    </form>

                    <form action="" method="" class="form-filter-extra">

                        <!-- Puntuación -->
                        <label>Puntuación de clientes</label>
                        <p class="general-puntuacion">0</p>
                        <p class="general-puntuacion wrong">1+</p>
                        <p class="general-puntuacion medium">5+</p>
                        <p class="general-puntuacion good">7+</p>

                        <div class="divider-filtros"></div>


                        <!-- Cantidad de opiniones -->
                        <label>Cantidad de opiniones</label>
                        <p>
                            <input type="checkbox" id="cfbox1" value="firstf_checkbox">
                            <label for="cfbox1">0-10</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox2" value="secondf_checkbox">
                            <label for="cfbox2">10-30</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox3" value="thirdf_checkbox">
                            <label for="cfbox3">30-50</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox4" value="fourthf_checkbox">
                            <label for="cfbox4">más de 50</label>
                        </p>

                        <div class="divider-filtros"></div>

                        <!-- Servicios -->
                        <label for="">Servicios</label>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Guardia</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Radiografías</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Internación</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>WiFi</span>
                        </p>

                        <div class="divider-filtros"></div>

                        <a href="" class="delete-filters">Borrar todos los filtros</a>

                    </form>

                </div>


            </div>
        </div>
    </div>
    <!-- BÚSQUEDA-->
    <div class="row">
        <section class="col-12 col-md-10 offset-md-1  search-section">

            <div class="row">
                <!-- Filtros -->
                <div class="col-12 col-md-4 float-left filter-search mapa-filter">
                    <div class="row">
                        <h2>Filtros aplicados actualmente ({{cantidadClinicas}})</h2>
                        <a href="#" id="more-filters">Filtrar más</a>
                    </div>

                    <div class="col-xs-12 clinicas-scroll">
                        <div class="col-xs-12 inside-scroll">
                            <div *ngIf="noData == false">
                                <div *ngFor="let row of clinicas ;let i=index">
                                    <a href="javascript:void(0)">
                                        <div class="col-xs-12 col-md-12 box" (click)="OpenMarkers(i)">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-5">
                                                    <img src="/assets/img/clinica.png">
                                                </div>
                                                <div class="col-xs-12 col-md-7">
                                                    <h3>{{row.name}}</h3>
                                                    <p class="location">
                                                        <i class="fa fa-map-marker"></i>{{row.address}}</p>
                                                    <div class="punt">{{row.score | number:'.1-5' }}</div>
                                                    <div class="stars">
                                                        <span *ngFor="let scor of score">
                                                            <span *ngIf="row.score -scor >= scor">
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div *ngIf="noData">
                                <p class="text-center">No hay clinicas disponibles</p>
                            </div>


                        </div>
                    </div>
                </div>
                <!--  //filtros -->


                <!-- Clinicas listado mapa -->
                <div class="col-12 col-md-8 float-left clinica-search">
                    <div id="google-map" class="google-map"></div>
                    <div *ngIf="noData == true">
                        <p class="text-center">No hay clinicas disponibles</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- // Búsqueda -->
    </div>
</div>