<section class=" col-xs-12 general reserva container-fluid">

    <div class="row reserva-align">

        <div class="col-sm-12 col-md-10 offset-sm-1">

            <div class="">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-reserva">

                    <h2 style="font-family: SfUiDisplaySemiBold;">Solicitá tu turno</h2>
                    <h3 style="font-family: SfUiDisplayLight;">Podrá ver los turnos disponibles durante el mes</h3>

                </div>


                <div style="display: flex;">
                    <!-- Menú -->
                    <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5 menu-reserva">
                        <div class="">
                            <div class="col-xs-6 col-md-12 menu-reserva-single">
                                <div class="row" style="flex-wrap: inherit;">
                                    <div class="col-xs-3 col-md-2" (click)="Paso1()">
                                        <span class="activeReserva" id="b1">1</span>
                                    </div>
                                    <div class="col-xs-9 col-md-12">
                                        <p style="font-family: SfUiDisplaySemiBold; color: #040405;">Seleccione un día para poder visualizar
                                            <br>las diferentes opciones.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-12 menu-reserva-single">
                                <div class="row" style="flex-wrap: inherit;">
                                    <div class="col-xs-3 col-md-2" (click)="Paso2()">
                                        <span id="b2">2</span>
                                    </div>
                                    <div class="col-xs-9 col-md-12">
                                        <p style="font-family: SfUiDisplayLight;">Seleccione día y hora</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-12 menu-reserva-single">
                                <div class="row" style="flex-wrap: inherit;">
                                    <div class="col-xs-3 col-md-2" (click)="Paso3()">
                                        <span id="b3">3</span>
                                    </div>
                                    <div class="col-xs-9 col-md-12">
                                        <p style="font-family: SfUiDisplayLight;">Confirmación de reserva</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // menu -->

                    <!-- FILTROS Y CALENDARIO -->
                    <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5 filtros-calendario" style="background-color: white; border-radius: 12px; height: 100%;">

                        <div class="row reservaFilters">

                            <!-- Filtros -->
                            <div class="col-xs-5 col-md-5 col-sm-5 col-lg-11 filters-turnos">
                                <form>
                                    <div class="form-group reservaLine">
                                        <label style="margin-right: 16px; font-family: SfUiDisplaySemiBold;" for="">Especialidad</label>
                                        <select2 (valueChanged)="FiltrarEspecialidad($event)" name="especialidad-turno"
                                            lang="es" style="width: 100%; font-family: SfUiDisplayLight;">
                                            <option value=""></option>
                                            <option *ngFor="let row of especialidades" value="{{row.id}}">{{row.description}}</option>
                                        </select2>
                                    </div>

                                    <div><hr></div>

                                    <div class="form-group reservaLine">
                                        <label style="margin-right: 16px; font-family: SfUiDisplaySemiBold;" class="subEspecialidadLarge" for="">Sub Especialidad</label>
                                        <select2 style="width: 100%; font-family: SfUiDisplayLight;" (valueChanged)="FiltrarSubEspecialidad($event)" name="subespecialidad-turno"
                                            lang="es">
                                            <option value=""></option>
                                            <option *ngFor="let row of subEspecialidades" value="{{row.id}}">{{row.description}}</option>
                                        </select2>
                                    </div>

                                    <div><hr></div>

                                    <div class="form-group reservaLine">
                                        <label style="margin-right: 16px; font-family: SfUiDisplaySemiBold;" for="">Médico</label>
                                        <select2 style="width: 100%; font-family: SfUiDisplayLight;" (valueChanged)="FiltrarEspecialista($event)" name="medico-turno" lang="es">
                                            <option value="">NINGUNO</option>
                                            <option *ngFor="let row of especialista" value="{{row.id}}">{{row.firstName}},{{row.lastName}}
                                            </option>
                                        </select2>
                                    </div>



                                    <a (click)="Paso2()" class=" sig-turno text-white pointer" style="margin: 0 auto;">SIGUIENTE</a>
                                </form>
                            </div>
                            <!-- // filtros -->

                            <!-- Calendario -->


                        </div>
                    </div>

                    <!-- CONFIRMACION RESERVA -->
                    <div class="col-xs-12 col-md-7 calendario-confirmacion confirmacion-reserva" style="display: none;">
                        <h2>Confirme su reserva</h2>
                        <div class="circle"></div>
                        <div class="square"></div>
                        <div class="col-xs-12 col-md-12 cluster-reserva-def">
                            <h3>{{dataClinica?.description}}</h3>
                            <h4>{{dataClinica?.address}}, {{dataClinica?.city}} </h4>

                            <h5>Especialidad</h5>
                            <p>{{especialidadText}}</p>

                            <h5>Profesional</h5>
                            <p>{{especialistaText}}</p>

                            <h5>Fecha y hora de la reserva</h5>
                            <p>{{filterForDay.Day | date:'EEEE' : locale }} {{filterForDay.Day | date:'d/M/yy'}} {{time}}</p>



                            <a href="#" (click)="Paso2()" id="volver-turno">Volver</a>
                            <button (click)="CheckPaciente()" class="btn btn-success pointer" id="confirmacion-definitiva">Confirmar
                                reserva</button>
                        </div>

                        <span>Ante cualquier consultam no dude en comunicarse con el Centro al que está reservando.</span>

                    </div>
                </div>
                <div class="col-xs-12 col-md-12 calendario-turnos  calendario" style="display: none;">

                    <div class="dias col-md-12 calendario-turnos" height="50px">
                        <br>
                        <div class="row text-center ">
                            <div class="col-md-4 ">
                            </div>
                            <div class=" col-md-4 ">
                                <p class="tamanioTexto ">
                                    <i (click)="previus(viewDate)" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                        class="fa fa-caret-left colorFlecha pointer "></i> {{ viewDate |
                                    calendarDate:(view + 'ViewTitle'):locale }}
                                    <i (click)="next(viewDate)" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                        class=" pointer colorFlecha fa fa-caret-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" [locale]="locale">
                            </mwl-demo-utils-calendar-header> -->

                        <ng-template #customCellTemplate let-day="day" let-locale="locale" class="col-md-1 bg-turnos  ">
                            <div class="cal-cell-top">
                                <!-- <span class="cal-day-badge " *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
                                <span class="cal-day-number n-dia">{{ day.date |
                                    calendarDate:'monthViewDayNumber':locale }}</span>
                            </div>
                            <div class="t-disp" style="margin: 1px" *ngIf="day.badgeTotal > 0" >{{ day.events.length }} turnos
                                <br> disponibles</div>

                        </ng-template>
                        <div *ngIf="loading">
                            <div class="text-center">
                                <i class="fa fa-spin fa-spinner fa-5x"></i>
                                <br> Cargando turnos...
                            </div>
                        </div>
                        <div id="turnos" style="display:none;">
                            <div [ngSwitch]="view">
                                <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                                    [activeDayIsOpen]="activeDayIsOpen" [cellTemplate]="customCellTemplate"
                                    (dayClicked)="dayClicked($event.day)" [refresh]="refresh" [cellTemplate]="monthCellTemplate"
                                    [locale]="locale" [ngClass]="day?.cssClass" data-toggle="modal"
                                    data-target="#horario">
                                </mwl-calendar-month-view>
                                <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
                                </mwl-calendar-week-view>
                                <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
                                </mwl-calendar-day-view>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class=" text-reserva">
                        <h2 class="text-center">Complete los datos.</h2>

                    </div>

                    <form #formCategoria="ngForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                                <input #FirstName="ngModel" name="FirstName" [(ngModel)]="paciente.FirstName" type="text"
                                    class="form-control text-center" placeholder="Nombre">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <input #LastName="ngModel" name="LastName" [(ngModel)]="paciente.LastName" type="text"
                                    class="form-control text-center" placeholder="Apellido">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <input #Address="ngModel" name="Address" [(ngModel)]="paciente.Address" type="text"
                                    class="form-control text-center" placeholder="Direccion">
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <input #PhoneNumber="ngModel" name="PhoneNumber" [(ngModel)]="paciente.PhoneNumber"
                                    type="text" class="form-control text-center" placeholder="Telefono">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <input #Dni="ngModel" name="Dni" [(ngModel)]="paciente.Dni" type="text" class="form-control text-center"
                                    placeholder="DNI">
                            </div>
                        </div>
                        <br>
                        <div class=" row">
                            <div class="col-md-12">
                                <h6 class="text-center" for="">Obra Social</h6>
                                <select2 (valueChanged)="FiltrarObraSocial($event)" pleceholder="obras" class="form-control"  name="MedicalPlanId" type="text" name="obrasSociales" lang="es">
                                    <option value=""></option>
                                    <option class="col-md-6" *ngFor="let obras of obrasSociales" value="{{obras.id}}">{{obras.description}}</option>
                                </select2>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-md-12">
                                <h6 class="text-center" for="">Plan</h6>
                                <select2  (valueChanged)="SelectMedicalPlans($event)" pleceholder="obras" class="form-control" #MedicalPlanId="ngModel" name="MedicalPlanId"
                                    [(ngModel)]="paciente.MedicalPlanId" type="text" name="appointment" lang="es">
                                    <option value=""></option>
                                    <option class="col-md-6" *ngFor="let medical of medicalPlans" value="{{medical.id}}">{{medical.description}}</option>
                                </select2>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-md-1 offset-sm-5">
                                <input class="btn btn-success text-center" type="submit" value="aceptar">

                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <div id="horario" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class=" text-reserva" *ngIf="doctorBlock">
                        <h2 class="text-center">Seleccione doctor y horario.</h2>

                    </div>
                    <div class=" text-reserva" *ngIf="doctorBlock==false">
                        <h2 class="text-center">Seleccione horario.</h2>
                    </div>
                    <div class="col-xs-4 col-md-12 horariosModal">

                        <form>
                            <div class="form-group" *ngIf="doctorBlock">
                                <label class=" text-center" for="">Médico</label>
                                <select2 (valueChanged)="FiltrarEspecialista($event)" name="medico-turno" lang="es">
                                    <option value=""></option>
                                    <option *ngFor="let row of especialista" value="{{row.id}}">{{row.firstName}},{{row.lastName}}
                                    </option>
                                </select2>
                            </div>

                            <div class="form-group">
                                <label class=" text-center" for="">Horario</label>
                                <select2 [data]="horarios" (valueChanged)="FiltrarHoraSelect($event)" name="appointmentHorario"
                                    lang="es">

                                </select2>
                            </div>

                            <div class="form-group" *ngIf="dontAvailable">
                                <p class=" text-center text-danger" for="">No tiene horarios disponibles</p>

                            </div>

                            <a data-dismiss="modal" (click)="Paso3()" class=" sig-turno text-white pointer">Siguiente</a>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>