<div class="container-fluid  ">
    <!-- BÚSQUEDA-->
    <div class="row">
        <section class="col-12 col-md-10 offset-md-1  search-section">
            <div style="height: auto; margin-bottom: 60px; text-align: center;">
                <ngx-slick [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let slide of slides">
                        <img src="{{ slide.img }}" alt="" width="100%">
                    </div>
                </ngx-slick>
            </div>
            <div style="display: flex;" class="twoElements">
                <div class="firstElement">
                    <div style="border-bottom: 1px solid #707070; padding-bottom: 22px;" class="clinicNameWrap">
                        <div class="clinicName">
                            <h3>{{clinicData?.name}}</h3>
                        </div>
                        <div class="starScore">
                            <div class="infoStars starsPosition" style="margin-top: 7px; margin-right: 9px; width: 108px;">
                                <span *ngFor="let scor of score">
                                    <span *ngIf="clinicData?.score -scor >= scor">
                                        <i class="fa fa-star"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="score">
                                <h4 style="margin-top: 5px;">{{clinicData?.score | number:'1.0-1' }}</h4>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 25px; border-bottom: 1px solid #707070; padding-bottom: 22px;">
                        <div>
                            <span class="informacion">INFORMACIÓN</span>
                        </div>
                        <div style="margin-top: 13px;">
                            <span class="description">{{ (clinicData?.description?.length>150)? (clinicData?.description | slice:0:150)+'..':(clinicData?.description) }}</span>
                            <span class="description" *ngIf="clinicData?.description == null">Descripción aún no disponible</span>
                        </div>
                    </div>
                    <div style="padding-top: 22px; border-bottom: 1px solid #707070; padding-bottom: 22px;">
                        <div class="addressPosition">
                            <div style="margin-right: 68%;">
                                <i class="fa fa-map-marker"></i>
                                <span class="address">{{clinicData?.address}}</span>
                            </div>
                            <div>
                                <span class="comollegar" style="cursor: pointer;" (click)="showCompleteMap()">Cómo Llegar</span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 22px; border-bottom: 1px solid #707070; padding-bottom: 22px;">
                        <div>
                            <span class="horarios">HORARIOS DE ATENCIÓN</span>
                        </div>
                        <div style="display: flex; flex-wrap: wrap;">
                            <div *ngFor="let hour of clinicData?.openCloseHours" style="border: 1px solid #454edb; padding: 5px; width: 210px; text-align: center;">
                                <span *ngIf="hour.dayNumber == 1"><span class="day">Lunes</span> <span class="hour">{{hour.start}} - {{hour.end}}</span></span>
                                <span *ngIf="hour.dayNumber == 2"><span class="day">Martes</span> <span class="hour">{{hour.start}} - {{hour.end}}</span></span>
                                <span *ngIf="hour.dayNumber == 3"><span class="day">Miércoles</span> <span class="hour">{{hour.start}} - {{hour.end}}</span></span>
                                <span *ngIf="hour.dayNumber == 4"><span class="day">Jueves</span> <span class="hour">{{hour.start}} - {{hour.end}}</span></span>
                                <span *ngIf="hour.dayNumber == 5"><span class="day">Viernes</span> <span class="hour">{{hour.start}} - {{hour.end}}</span></span>
                                <span *ngIf="hour.dayNumber == 6"><span class="day">Sábado</span> <span class="hour">{{hour.start}} - {{hour.end}}</span></span>
                                <span *ngIf="hour.dayNumber == 0"><span class="day">Domingo</span> <span class="hour">{{hour.start}} - {{hour.end}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 22px; padding-bottom: 22px;">
                        <div>
                            <span class="comentarios">COMENTARIOS DE USUARIOS</span>
                        </div>
                        <div style="display: flex; border-bottom: 1px solid #707070;">
                            <div style="margin-right: 20px;">
                                <span class="comentariosScore">{{clinicData?.score | number:'1.0-1' }}</span>
                            </div>
                            <div>
                                <div class="infoStars" style="margin-top: 17px;">
                                    <span *ngFor="let scor of score">
                                        <span *ngIf="clinicData?.score -scor >= scor">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <p class="comments">{{(clinicData?.scoreQuantity == 1) ? clinicData?.scoreQuantity + ' valoración' : clinicData?.scoreQuantity + ' valoraciones'}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let comment of clinicData?.ratings" style=" border-bottom: 1px solid #707070;">
                            <div style="display: flex;">
                                <div style="margin-right: 20px; margin-top: 19px;" [ngClass]="comment.score > 0 && comment.score < 4 ? 'scoreButtonRed' : comment.score >= 4 && comment.score < 7 ? 'scoreButtonYellow' : comment.score >= 7 ? 'scoreButtonGreen' : ''">
                                    <h4 style="margin-top: 8.5px;">{{comment.score | number:'1.0-1' }}</h4>
                                </div>
                                <div>
                                    <div style="margin-top: 17px;">
                                        <p class="commentUser">{{comment.user}}</p>
                                    </div>
                                    <div>
                                        <p class="commentDate">{{comment.dateTime | date: 'd LLLL yyyy'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="commentComment">{{comment.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="secondElement">
                    <div style="background-color: white; text-align: center; height: 65px; padding-top: 18px;">
                        <span class="haceReserva">¡Hacé tu reserva GRATIS!!</span>
                    </div>
                    <div (click)="Reservar(clinicData?.clinicId)" style="background-color: #00b900; text-align: center; height: 65px; padding-top: 18px;">
                        <span class="reserva">RESERVAR</span>
                    </div>
                    <div style="text-align: center;">
                        <img (click)="Favorito(clinicData?.clinicId)" *ngIf="clinicData?.isFavorite == false" src="/assets/img/corazon_empty.png" style="width: 50px;">
                        <img (click)="noFavorito(clinicData?.clinicId)" *ngIf="clinicData?.isFavorite == true" src="/assets/img/corazon_full.gif" style="width: 50px;">
                        <img src="/assets/img/share.png" style="width: 45px;" (click)="showShareWindow();">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div *ngIf="showMap">
    <div style="z-index: 2999; width: 100%; height: 100%; background-color: #6F75CB; position: fixed; opacity: 0.5; top: 0px;" (click)="closeMapa()"></div>
    <div style="background-color: white; position: absolute; top: 50%; margin-top: 220px; width: 96%; left: 50%; margin-left: -48%; z-index: 3000; height: 440px; display: block; padding-right: 0px;">
        <div style="margin-top: 20px;">
            <div style="position: absolute; top: 0px; z-index: 100;" (click)="closeMapa();"><img style="width: 24px;" src="/assets/img/close.png"></div>
            <div class="col-xs-12 col-md-12 white">
                <div class="col-12 float-left clinica-search" style="height: 100%; padding-left: 0px; padding-right: 0px; height: 100%;">
                    <div id="google-map" class="" style="margin-left: 0px; margin-top: 0px; padding-left: 0px; padding-right: 0px; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div [style.display]="showShare ? 'block' : 'none'">
    <div style="z-index: 2999; width: 100%; height: 100%; background-color: #6F75CB; position: fixed; opacity: 0.5; top: 0px;" (click)="closeShare()"></div>
    <div style="background-color: white; position: absolute; top: 50%; margin-top: 220px; width: 50%; left: 50%; margin-left: -25%; z-index: 3000; height: 300px; display: block; padding-right: 0px;">
        <div style="margin-top: 20px;">
            <div style="position: absolute; top: 0px; z-index: 100;" (click)="closeShare();"><img style="width: 24px;" src="/assets/img/close.png"></div>
            <div class="col-xs-12 col-md-12 white">
                <div class="col-12 float-left clinica-search" style="padding-left: 0px; padding-right: 0px; height: 100%; text-align: center;">
                    <div class="fb-share-button" data-href="http://todoreservas.com.ar/clinica/infoclinica/1" data-layout="button" data-size="large" data-mobile-iframe="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<head>
    <meta property="og:url"              content="http://todoreservas.com.ar/clinica/infoclinica/1" />
    <meta property="og:type"             content="website" />
    <meta property="og:title"            content="Your Website Title" />
    <meta property="og:description"      content="Your description" />
    <meta property="og:image"            content="http://todoreservas.com.ar/assets/img/logo-white.png" />
    <meta property="og:image:width"      content="342" />
    <meta property="og:image:height"     content="75" />
</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>