<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo-white.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form action="" class="nav-busqueda">
      <input type="text">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bell" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-bell-o"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          </div>
        </li>
        <div class="line-menu-header"></div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="/assets/img/user.png" alt="Usuario">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Editar datos</a>
            <a class="dropdown-item" href="#">Configurar cuenta</a>
            <a class="dropdown-item" href="#">Ayuda</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" href="#">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link help" href="#">Ayuda</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- // menú -->
</header>
<!-- // header -->

<section class="col col-xs-12 general ayuda container-fluid">
  <div class="row ayuda-align">
    <div class="col-sm-12 col-md-8 offset-sm-2">
      <div class="row">

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-ayuda">

          <h2>Preguntas frecuentes</h2>


          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 1?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 2?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 3?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 4?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <h4>¿No encontraste tu respuesta? ¿Tenés más preguntas?</h4>
          <h5>
            <strong>Contactanos:</strong> Horario de atención - Lunes a Viernes de 9 a 20hs.</h5>

          <div class=" col-xs-12 col-md-3 f-l">
            <div class="col-xs-12 col-md-3 f-l">
              <img src="/assets/img/circle.png">
            </div>
            <div class="col-xs-12 col-md-9 f-l">
              <h6>Línea telefónica</h6>
              <br>
              <h6>4444 4444</h6>
            </div>
          </div>

          <div class=" col-xs-12 col-md-3 f-l ">
            <div class="col-xs-12 col-md-3 f-l">
              <img src="/assets/img/circle.png">
            </div>
            <div class="col-xs-12 col-md-9 f-l align-v">
              <h6>Mail</h6>
              <a href="" class="mail">Escribinos</a>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>

</section>