
<section class="col col-xs-12 general ayuda container-fluid">
  <div class="row ayuda-align">
    <div class="col-sm-12 col-md-8 offset-sm-2">
      <div class="row">

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-ayuda">

          <h2>Preguntas frecuentes</h2>


          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 1?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 2?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 3?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <a href="#" class="preguntas-ayuda button-collapse">¿Pregunta número 4?</a>
          <div class=" col-xs-12 col-sm-12 collapse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum. Mauris ut
              congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur massa
              id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
          </div>

          <h4>¿No encontraste tu respuesta? ¿Tenés más preguntas?</h4>
          <h5>
            <strong>Contactanos:</strong> Horario de atención - Lunes a Viernes de 9 a 20hs.</h5>

          <div class=" col-xs-12 col-md-3 f-l">
            <div class="col-xs-12 col-md-3 f-l">
              <img src="/assets/img/circle.png">
            </div>
            <div class="col-xs-12 col-md-9 f-l">
              <h6>Línea telefónica</h6>
              <br>
              <h6>4444 4444</h6>
            </div>
          </div>

          <div class=" col-xs-12 col-md-3 f-l ">
            <div class="col-xs-12 col-md-3 f-l">
              <img src="/assets/img/circle.png">
            </div>
            <div class="col-xs-12 col-md-9 f-l align-v">
              <h6>Mail</h6>
              <a href="" class="mail">Escribinos</a>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>

</section>