<section class="col col-xs-12 general ayuda container-fluid">
  <div class="row ayuda-align">
    <div class="col-sm-12 col-md-8 offset-sm-2 nosotrosFormParent">
      <div class="row">

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-ayuda">

          <table style="width: 100%;">
            <tr>
              <td colspan="2"><h2 style="font-family: SfUiDisplaySemiBold; color: #454edb;">Preguntas frecuentes</h2></td>
            </tr>
            <tr>
              <td class="ayudaQuestions" style="padding-right: 25px;">
                <div style="background-color: white; border-radius: 12px;">
                  <a href="#" class="preguntas-ayuda button-collapse" style="font-family: SfUiDisplaySemiBold; font-size: 16px;">¿Pregunta número 1?</a>
                  <div class=" col-xs-12 col-sm-12 collapse">
                    <p style="font-family: SfUiDisplayLight; font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum.
                      Mauris ut
                      congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur
                      massa
                      id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
                  </div>

                  <a href="#" class="preguntas-ayuda button-collapse" style="font-family: SfUiDisplaySemiBold; font-size: 16px;">¿Pregunta número 2?</a>
                  <div class=" col-xs-12 col-sm-12 collapse">
                    <p style="font-family: SfUiDisplayLight; font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum.
                      Mauris ut
                      congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur
                      massa
                      id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
                  </div>

                  <a href="#" class="preguntas-ayuda button-collapse" style="font-family: SfUiDisplaySemiBold; font-size: 16px;">¿Pregunta número 3?</a>
                  <div class=" col-xs-12 col-sm-12 collapse">
                    <p style="font-family: SfUiDisplayLight; font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum.
                      Mauris ut
                      congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur
                      massa
                      id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
                  </div>

                  <a href="#" class="preguntas-ayuda button-collapse" style="font-family: SfUiDisplaySemiBold; font-size: 16px;">¿Pregunta número 4?</a>
                  <div class=" col-xs-12 col-sm-12 collapse">
                    <p style="font-family: SfUiDisplayLight; font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum a nulla sed condimentum.
                      Mauris ut
                      congue sapien. Ut lorem mi, dictum a interdum eu, dictum eget dolor. In eget metus porttitor, efficitur
                      massa
                      id, scelerisque dui. Nullam imperdiet pulvinar lectus, ac auctor odio volutpat in.</p>
                  </div>
                </div>
              </td>
              <td style="vertical-align: top;">
                <table>
                  <tr>
                    <td style="font-family: SfUiDisplaySemiBold; font-size: 14px;">AYUDA</td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplayLight; font-size: 14px;">Preguntas frecuentes</td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplayLight; font-size: 14px;">¿Cómo funciona Todo Reservas?</td>
                  </tr>
                  <tr>
                    <td><br></td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplaySemiBold; font-size: 14px;">ACERCA DE</td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplayLight; font-size: 14px;">¿Quienes somos?</td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplayLight; font-size: 14px;">Contactanos</td>
                  </tr>
                  <tr>
                    <td><br></td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplaySemiBold; font-size: 14px;">AVISO LEGAL</td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplayLight; font-size: 14px;">Términos y condiciones</td>
                  </tr>
                  <tr>
                    <td style="font-family: SfUiDisplayLight; font-size: 14px;">Aviso de privacidad</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td colspan="2" style="font-family: SfUiDisplaySemiBold; font-size: 20px; color: #454edb;">¿No encontraste tu respuesta? ¿Tenés más preguntas?</td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td>
                <div style="display: inline-block;">
                  <p style="font-family: SfUiDisplaySemiBold; color: #060606; margin-bottom: 0px;">Horario de atención</p>
                  <p style="font-family: SfUiDisplayLight; color: #060606;">Lunes a Viernes de 9 a 20hs</p>
                </div>
                <div style="display: inline-block; vertical-align: top;" class="telefonoNosotros">
                  <img src="/assets/img/telefono_nosotros.png" style="width: 50%;">
                </div>
                <div style="display: inline-block;">
                  <p style="font-family: SfUiDisplaySemiBold; color: #060606; margin-bottom: 0px;">Línea telefónica</p>
                  <p style="font-family: SfUiDisplayLight; color: #060606;">4444 4444</p>
                </div>
                <div style="display: inline-block; vertical-align: top;" class="telefonoNosotros">
                  <img src="/assets/img/contacto.png" style="width: 50%;">
                </div>
                <div style="display: inline-block; vertical-align: top;">
                  <input type="submit" name="" value="ESCRIBINOS" style="background-color: #454edb; color: white; font-family: SfUiDisplayRegular; width:129px; height: 41px; border-radius: 20px;">
                </div>
              </td>
            </tr>
          </table>

          <!--<h4>¿No encontraste tu respuesta? ¿Tenés más preguntas?</h4>
          <h5>
            <strong>Contactanos:</strong> Horario de atención - Lunes a Viernes de 9 a 20hs.</h5>

          <div class=" col-xs-12 col-md-3 f-l">
            <div class="col-xs-12 col-md-3 f-l">
              <img src="/assets/img/circle.png">
            </div>
            <div class="col-xs-12 col-md-9 f-l">
              <h6>Línea telefónica</h6>
              <br>
              <h6>4444 4444</h6>
            </div>
          </div>

          <div class=" col-xs-12 col-md-3 f-l ">
            <div class="col-xs-12 col-md-3 f-l">
              <img src="/assets/img/circle.png">
            </div>
            <div class="col-xs-12 col-md-9 f-l align-v">
              <h6>Mail</h6>
              <a href="" class="mail">Escribinos</a>
            </div>

          </div>-->


        </div>
      </div>
    </div>
  </div>

</section>