
  .pointer {cursor: pointer;}
.calendario-turnos .dias .div-contenido-fecha div.col-md-1.bg-turnos.selectedTurno{
    background: #8ef6f4;
    border-left: 4px solid #454edb;
}
.n-dia{
    right: 13px;
    
    font-family: Poppins;
    
    font-size: 13px;
    
    top: 6px;
    
    margin-bottom: 0;
    
    color: #454edb;
    }

.cal-day-number {
    font-size: 13px !important;
    opacity: 222 !important;
}

.cal-month-view .cal-cell-top {
    min-height: 25px !important;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 0 !important;
}
.special-day{
    width: 100%;
	max-width: 14.2857%;
	flex: 0 0 14.285%;
	height: 55px;
	line-height: 55px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color: #5a5a5a;
	background: #f1f5fe;
	position: relative;
	z-index: 1;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.cal-month-view .cal-header .cal-cell {
    width: 100%;
	max-width: 14.2857%;
	flex: 0 0 14.285%;
	height: 55px;
	line-height: 55px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color: #5a5a5a;
	background: #f1f5fe;
	position: relative;
	z-index: 1;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

.selectedTurno{
    background: #8ef6f4;
	border-left: 4px solid #454edb;
}

.selectedTurno:hover {
    background-color: #8ef6f4 !important;
  }

  .tamanioTexto{
      font-size: 30px;
      text-align: center;

      font-family: Poppins;
      
      text-transform: uppercase;
      
      font-weight: 500;
      
      font-size: 18px;
      
      letter-spacing: 0.5px;
      
      
      border-radius: 6px 6px 0px 0px;
      
      padding: 0px;
      
      box-shadow:none;
      
      position: relative;
      
      z-index: 2;
  }
  .colorFlecha{
    color: #ccc;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.cal-month-view .cal-header .cal-cell{
    width: 100%;
    max-width: 14.2857%;
    flex: 0 0 14.285%;
    height: 55px;
    line-height: 55px;
    font-family: Poppins;
    font-size: 14px;
    text-align: center;
    color: #5a5a5a;
    background: #f1f5fe;
    position: relative;
    z-index: 1;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: normal !important;
}

.not-available{
	background: grey;
}


.cal-month-view .cal-day-cell:not(:last-child) {
    border-right: 1px solid #e1e1e1;
    background: #f1f1f1 !important;
    cursor: not-allowed;
}

.cal-month-view .cal-day-cell {
    min-height: 100px;
    background: #f1f1f1 !important;
    cursor: not-allowed;
}

.cal-month-view .cal-day-cell .cal-has-events {
    min-height: 100px;
    background: wheat !important;
}

.cal-month-view .cal-day-cell{
    border-right: 1px solid #e1e1e1;
    background: white;
}
.cal-month-view:hover{
    border-right: 1px solid #e1e1e1;
}
.cal-month-view .cal-day-cell:not(:last-child).cal-has-events{
    border-right: 1px solid #e1e1e1;
    background: white !important;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
    background: white !important;
    cursor: pointer;
}

.fa-5x{
    color: #454edb;
}

#confirmacion-definitiva:hover{
	opacity: .7;
}


#confirmacion-definitiva{

background: #50ae20;

color: #fff;

width: 180px;
}

.pointer {cursor: pointer;}

mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-today.cal-in-month.cal-has-events.cal-open.ng-star-inserted:hover {
    background: #8ef6f4 !important;
}