<br>
<br>
<br>
<br>
<br>
<section class=" col-xs-12 general reserva container-fluid">

  <div class="col-xs-12 col-md-12 calendario-turnos  calendario">

    <div class="dias col-md-10 offset-1 calendario-turnos" height="50px">
      <br>
      <div id="turnos">
        <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" [locale]="locale">
        </mwl-demo-utils-calendar-header>
      
        <div class="col-md-4">
          <div class="btn-group">
            <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'" >
              Mes
            </div>
            <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'" >
              Semana
            </div>
            <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'" >
              Día
            </div>
          </div>
        </div>
        <ng-template #customCellTemplate let-day="day" let-locale="locale" class="col-md-1 bg-turnos  ">
          <div class="cal-cell-top">
              <!-- <span class="cal-day-badge " *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
              <span class="cal-day-number n-dia">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
          </div>
          <div class="t-disp hover" style="margin: 5px" *ngIf="day.badgeTotal > 0"data-toggle="modal" data-target="#horario">{{ day.events.length }} turnos
              <br> disponibles</div>

      </ng-template>
        <br>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view class="" *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="true" [locale]="locale"
            [refresh]="refresh">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale">
          </mwl-calendar-day-view>
        </div>
        <br>

      </div>

    </div>
  </div>

</section>