<br>
<br>
<br>
<br>
<br>
<section class=" col-xs-12 general reserva container-fluid">

  <div class="col-xs-12 col-md-12 calendario-turnos  calendario">
    <div class="dias col-md-10 offset-1 calendario-turnos" height="50px">
      <br>
      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event action occurred</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
          </div>
          <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
        </div>
      </ng-template>

      <div class="row text-center ">
        <div class="col-md-4 ">
        </div>
        <div class=" col-md-4 ">
          <p class="tamanioTexto ">
            <i mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" class="fa fa-caret-left colorFlecha pointer "></i>
            {{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}
            <i mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" class=" pointer colorFlecha fa fa-caret-right"></i>
          </p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-6">
          <div class="btn-group">
            <div class="btn btn-primary backBtn" (click)="Volver()">
              Volver atras
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <div class="btn btn-primary backBtn" (click)="view = 'month'" [class.active]="view === 'month'">
              Mes
            </div>
            <div class="btn btn-primary backBtn" (click)="view = 'week'" [class.active]="view === 'week'">
              Semana
            </div>
            <div class="btn btn-primary backBtn" (click)="view = 'day'" [class.active]="view === 'day'">
              Día
            </div>
          </div>
        </div>
      </div>
      <br>

      <ng-template #customCellTemplate let-day="day" let-locale="locale" class="col-md-1 bg-turnos  ">
        <div class="cal-cell-top">
          <!-- <span class="cal-day-badge " *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
          <span class="cal-day-number n-dia">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <div class="t-disp" style="margin: 5px" *ngIf="day.badgeTotal > 0" data-toggle="modal" data-target="#horario">{{
          day.events.length }} turnos
          <br> disponibles</div>

      </ng-template>
      <div id="turnos">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
            [locale]="locale">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
            [locale]="locale">
          </mwl-calendar-day-view>
        </div>
      </div>
      <br>
    </div>
  </div>
</section>