<div class="row">
  <div class="container-fluid">
    <section class="col-xs-12 general">

      <section class="col-12 col-sm-5 inicio-bg">
        <div class="outter">
          <h1 class="logoBottomDistance">
            <img src="/assets/img/logo-blanco.png" alt="Logo Tu turno">
          </h1>

          <p class="colorWhite" style="font-family: SfUiDisplayRegular; font-size: 20pt;">Bienvenido</p>
          <p class="colorWhite" style="font-family: SfUiDisplayThin; font-size: 17pt;">¿Qué vas a reservar hoy?</p>
        </div>
      </section>

      <section class="col-12 col-sm-7 turnos-bg">

        <div class="col-xs-12 boxes-inicio">
          <a (click)="redirectToPage(1)" >
            <div class="col-xs-3">
              <img src="/assets/img/medicos.png" alt="Médicos">
              <p>Médicos</p>
            </div>
          </a>

          <a (click)="redirectToPage(2)">
            <div class="col-xs-3">
              <img src="/assets/img/peluquerias.png" alt="Estéticas">
              <p>Estéticas</p>
            </div>
          </a>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/medicina-p.png" alt="Medicina">
            <p>Medicina</p>
          </div>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/estetica.png" alt="Peluquerías">
            <p>Peluquerías</p>
          </div>

          <a [routerLink]="['/home', 4]">
            <div class="col-xs-3">
              <img src="/assets/img/resto.png" alt="Restaurantes">
              <p>Restaurantes</p>
            </div>
          </a>
          <a [routerLink]="['/home', 3]">
            <div class="col-xs-3">
              <img src="/assets/img/wheel.png" alt="Lubricentros">
              <p>Lubricentros</p>
            </div>

          </a>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/restaurantes-p.png" alt="Restaurantes">
            <p>Restaurantes</p>
          </div>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/esteticas-p.png" alt="Estéticas">
            <p>Estéticas</p>
          </div>

          <a [routerLink]="['/home', 5]">
            <div class="col-xs-3">
              <img src="/assets/img/football.png" alt="Canchas de Fútbol">
              <p>Canchas de Fútbol</p>
            </div>
          </a>

          <a [routerLink]="['/home', 6]">
            <div class="col-xs-3">
              <img src="/assets/img/tennis.png" alt="Canchas de Tennis">
              <p>Canchas de Tennis</p>
            </div>
          </a>


          <div class="col-xs-3 proximamente">
            <img src="/assets/img/deportes-p.png" alt="Deportes">
            <p>Deportes</p>
          </div>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/vehiculos-p.png" alt="Servicios para el vehículo">
            <p>Servicios para el vehículo</p>
          </div>
        </div>

      </section>

      <section>
        <div class="downloadIndex">
          <img src="/assets/img/google.png" alt="Google Play">
          <img src="/assets/img/itunes-app-store-icon.png" alt="Apple">
        </div>
      </section>

    </section>
  </div>
</div>