<div class="row">
  <div class="container-fluid">
    <section class="col-xs-12 general">

      <section class="col-12 col-sm-5 inicio-bg">
        <div class="outter">
          <h1>
            <img src="/assets/img/logo.png" alt="Logo Tu turno">
          </h1>

          <div class="line"></div>

          <h2>Bienvenido</h2>
          <p>¿Qué desea reservar?</p>
        </div>
      </section>

      <section class="col-12 col-sm-7 turnos-bg">

        <div class="col-xs-12 boxes-inicio">
          <a [routerLink]="['/home', 1]">
            <div class="col-xs-3">
              <img src="/assets/img/medicina.png" alt="Medicina">
              <p>Medicina</p>
            </div>
          </a>

          <a [routerLink]="['/home', 2]">
            <div class="col-xs-3">
              <img src="/assets/img/peluquerias.png" alt="Peluquerías">
              <p>Peluquerías</p>
            </div>
          </a>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/medicina-p.png" alt="Medicina">
            <p>Medicina</p>
          </div>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/peluquerias-p.png" alt="Peluquerías">
            <p>Peluquerías</p>
          </div>
          <a [routerLink]="['/home', 4]">
            <div class="col-xs-3">
              <img src="/assets/img/restaurantes.png" alt="Restaurantes">
              <p>Restaurantes</p>
            </div>
          </a>
          <a [routerLink]="['/home', 3]">
            <div class="col-xs-3">
              <img src="/assets/img/esteticas.png" alt="Estéticas">
              <p>Estéticas</p>
            </div>

          </a>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/restaurantes-p.png" alt="Restaurantes">
            <p>Restaurantes</p>
          </div>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/esteticas-p.png" alt="Estéticas">
            <p>Estéticas</p>
          </div>

          <a [routerLink]="['/home', 5]">
            <div class="col-xs-3">
              <img src="/assets/img/deportes.png" alt="Deportes">
              <p>Deportes</p>
            </div>
          </a>

          <a [routerLink]="['/home', 6]">
            <div class="col-xs-3">
              <img src="/assets/img/vehiculos.png" alt="Servicios para el vehículo">
              <p>Servicios para el vehículo</p>
            </div>
          </a>


          <div class="col-xs-3 proximamente">
            <img src="/assets/img/deportes-p.png" alt="Deportes">
            <p>Deportes</p>
          </div>

          <div class="col-xs-3 proximamente">
            <img src="/assets/img/vehiculos-p.png" alt="Servicios para el vehículo">
            <p>Servicios para el vehículo</p>
          </div>
        </div>

      </section>

    </section>
  </div>
</div>