<section class="col col-xs-12 general pantalla-2 container-fluid">

  <!-- Modal -->
  <div class="col-xs-12 modal-gral">
    <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-3 inside-modal">
      <a id="close-modal">X</a>
      <div class="col-xs-12 mod">
        <div class="col-xs-6 col-sm-6" id="d-ini">
          <a id="ini"> Iniciar sesión</a>
        </div>
        <div class="col-xs-6 col-sm-6" id="d-reg">
          <a id="reg"> Registrarte</a>
        </div>
      </div>
      <div class="col-xs-12 modulo-inicio">
        <form action="">
          <input type="text" placeholder="Patente">
          <input type="password" placeholder="Contraseña">
          <a href="">¿Olvidaste tu contraseña?</a>
          <input type="submit" value="Ingresar">
        </form>

        <div class="line-modal">
          <span>o</span>
        </div>

        <div class="btn-fcbk">
          <a href="">
            <p>
              <img src="/assets/img/fb.png" alt="Facebook">Iniciar sesión con Facebook </p>
          </a>
        </div>

        <div class="btn-google">
          <a href="">
            <p>
              <img src="/assets/img/g.png" alt="Google">Iniciar sesión con Google </p>
          </a>
        </div>

        <p class="small-letter">Al iniciar sesión en la cuenta aceptas nuestros
          <br>
          <a href="">Términos y condiciones y Política de privacidad</a>
        </p>
      </div>

      <div class="col-xs-12 modulo-registro">
        <form action="">
          <input type="text" placeholder="Nombre">
          <input type="text" placeholder="Apellido">
          <input type="text" placeholder="Fecha de nacimiento">
          <input type="password" placeholder="Contraseña">
          <input type="password" placeholder="Confirmar contraseña">
          <a href="">¿Olvidaste tu contraseña?</a>
          <input type="submit" value="Ingresar">
        </form>

        <div class="line-modal">
          <span>o</span>
        </div>

        <div class="btn-fcbk">
          <a href="">
            <p>
              <img src="/assets/img/fb.png" alt="Facebook">Iniciar sesión con Facebook </p>
          </a>
        </div>

        <div class="btn-google">
          <a href="">
            <p>
              <img src="/assets/img/g.png" alt="Google">Iniciar sesión con Google </p>
          </a>
        </div>

        <p class="small-letter">Al iniciar sesión en la cuenta aceptas nuestros
          <br>
          <a href="">Términos y condiciones y Política de privacidad</a>
        </p>
      </div>
    </div>
  </div>
  <!-- // modal -->
  <div class="row">
    <section class="col-12 col-sm-5 inicio-bg">
      <h1>
        <img src="/assets/img/logo.png" alt="Logo Tu turno">
      </h1>
      <div class="outter">
        <p>Encontrá lo que buscás cerca de vos en un solo lugar</p>
        <p class="bold">Fácil, rápido y gratis</p>
        <form #formCategoria="ngForm" (ngSubmit)="onSubmit()" id="search_form">

          <div class="form-group col-sm-5">
            <label for="">Categorías</label>
            <select2 id="Categorías" (valueChanged)="categoria($event)"  >
              <option value="1">Medicina</option>
              <option value="2">Peluquería</option>
              <option value="3">Estéticas</option>
              <option value="4">Restaurantes</option>
              <option value="5">Deportes</option>
              <option value="6">Servicios para el vehículo</option>
            </select2>
          </div>
          <!-- <div class="form-group fecha">
            <div class='input-group date' id='datetimepicker2'>
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>

              <input type='text' class="input-group-addon form-control" placeholder="22 de Mayo" />
            </div>
          </div> -->
    
          <div class="form-group donde  ">
            <label for="">
              <i class="fa fa-map-marker"></i>
            </label>

            <select2 id="lugar"  (valueChanged)="lugar($event)">
              <option value="" selected="true" disabled="disabled">¿Dónde?</option>
              <option value="">Nuñez</option>
              <option value="">Capital Federal</option>
              <option value="">Villa Bosch</option>
              <option value="">Colegiales</option>
              <option value="">Almagro</option>
              <option value="">Villa Urquiza</option>
            </select2>
          </div>
          <div class="form-group search col-md-3">
            <input type="submit" value="Buscar">
          </div>
        </form>
      </div>
      <div class="download">
        <img src="/assets/img/google.png" alt="Google Play">
        <img src="/assets/img/apple.png" alt="Apple">
      </div>

    </section>

    <section class="col-12 col-sm-7 turnos-bg">

      <div class="bg-img col-xs-12">

      </div>

      <ul>
        <li>
          <a href="" class="special-link">Sé parte de nosotros</a>
        </li>
        <li>
          <a href="">Ayuda</a>
        </li>
        <li>
          <a href="" id="registrarte-link">Registrate</a>
        </li>
        <li>
          <a href="" id="login-link">Iniciar sesión</a>
        </li>
      </ul>
    </section>
  </div>
</section>