
/***
	RESPONSIVE
***/

@media screen and (max-width: 1100px) and (min-width: 550px) {
	.logoBottomDistance {
		margin-bottom: 130px;
	}
	.inicio-bg p{
		font-family: Poppins;
		margin-left: 13px;
		margin-top: -15px;
		color: #454edb;
		font-size: 24px;
		font-weight: 300;
	}
	.inicio-bg h1{
		margin-left: 13px;
		margin-top: 0;
	}
	.downloadIndex {
		position: absolute;
		bottom: 15.2%;
		margin-left: 26px;
	}

	.downloadIndex img{
		width: 120px;
		margin-right: 20px;
	}
	.nosotrosFormParent {
		margin-left: 135px;
		flex: 0 0 73.6%;
		max-width: none;
	}
	.ayudaQuestions {
		width: 100%;
	}
}

@media (min-width: 768px){
	.navbar-nav>li {
    	float: initial!important;
    	display: inline-block!important;
    	margin-right: 10PX;
 }

}
@media only screen and (max-width: 1025px) {
	.boxes-inicio div {
    	width: 27%;
    }
    form.nav-busqueda {
    	left: 21%;
	}
}
@media only screen and (max-width: 768px) {
	.logoBottomDistance {
		margin-bottom: 30px;
	}
	.inicio-bg{
		height: auto;
		width: 100%;
	}
	form.nav-busqueda {
    left: 26%;
}
	.outter {
    	position: relative;
    	top: 0;
    	transform: translate(0%,0%);
    	z-index: 1;
	}
	.inicio-bg p {
    	margin-left: 0;
   	 	text-align: center;
    	margin-top: 20px;
    	margin-bottom: 25px;
	}
	.inicio-bg h1 {
    	margin-left: 0;
    	margin-top: 30px;
    	text-align: center;
	}

	.line {
    	margin-left: 0;
    	text-align: center;
    	display: block;
   		margin: auto;
    	margin-top: 20px;
	}
	.inicio-bg h2 {
    	margin-left: 0;
    	text-align: center;
    	margin-top: 20px;
	}
 .row.nosotros-align {
    margin-top: 110px;
    height: auto;
}
	.turnos-bg{
		height: auto;
		width: 100%;
	}
    .row.nosotros-align .text-nosotros {
    padding: 0px 30px;
    /* padding-right: 30px; */
}.row.nosotros-align .text-nosotros img {
    width: 100%;
    border-radius: 50%;
    max-width: 50px;
    display: block;
    margin-left: 0;
}

	.boxes-inicio {
    	margin-left: 28px;
    	margin-top: 30px;
    	position: relative;
    	top: 0;
    	transform: translate(0);
 }

	.boxes-inicio div {
    	margin-bottom: 15px;
    	margin-right: 15px;
    	width: 45%;
    }

    .boxes-inicio div p {
    	font-size: 14px;
    	margin-top: 5px;
	}
	.pantalla-2 .inicio-bg p {
    	width: 100%;
    	margin-top: 40px;
	}
	.pantalla-2 form#search_form {
    width: 100%;
    margin-left: 0;
    z-index: 2;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.download {
    position: relative;
    margin-left: 0;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.download img:last-of-type{
	margin-right: 0;
}
.form-nosotros .row{
    margin: auto;
}
.modal-gral .inside-modal {
    background: #fff;
    margin-top: 8%;
    padding: 0;
    margin-left: 17%;
}
.pantalla-2 form#search_form{
	position: relative;
}
.pantalla-2 ul {
    width: 100%;
    position: absolute;
    top: 30px;
    list-style: none;
    right: 0;
    text-align: center;
}
.form-nosotros {
    padding-right: 0;
    margin-top: 40px;
}
.form-nosotros .form-group {
    margin: auto;
    margin-bottom: 30px;
    padding-left: 0;
    width: 90%;
}
}

@media only screen and (max-width: 760px) {
.pantalla-2 .inicio-bg h1 {
    margin-left: 0;
    margin-top: 60px;
}.pantalla-2 .select2-container {
    width: 250px!important;
}
.pantalla-2 form#search_form .form-group.donde{
	margin-left: 0;
}
.pantalla-2 form#search_form .form-group.donde span.select2.select2-container.select2-container--default{
	width: 300px!important;
}
.pantalla-2 form#search_form .form-group.fecha input{
	width: 100%;
}
.pantalla-2 form#search_form .form-group.fecha {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.pantalla-2 .select2-container--default .select2-selection--single{
	width: 100%;
}
.pantalla-2 form#search_form .form-group {
    display: block;
    margin-bottom: 20px;
}
	.inicio-bg{
		height: auto;
	}

	.inicio-bg p {
    	margin-left: 0;
   	 	text-align: center;
    	margin-top: 20px;
    	margin-bottom: 25px;
	}
	.inicio-bg h1 {
    	margin-left: 0;
    	margin-top: 30px;
    	text-align: center;
	}

	.line {
    	margin-left: 0;
    	text-align: center;
    	display: block;
   		margin: auto;
    	margin-top: 20px;
	}
	.inicio-bg h2 {
    	margin-left: 0;
    	text-align: center;
    	margin-top: 20px;
	}

	.turnos-bg{
		height: auto;
	}

	.boxes-inicio {
    	margin-left: 7px;
    	margin-top: 30px;
    	position: relative;
    	top: 0;
    	transform: translate(0);
    	text-align: center;
 }

	.boxes-inicio div {
    	margin-bottom: 15px;
    	margin-right: 15px;
    	width: 44%;
    }

    .boxes-inicio div p {
    	font-size: 14px;
    	margin-top: 5px;
	}

	.pantalla-2 form#search_form .form-group.search {
    margin-left: 0;
    height: 40px;
	}
	.pantalla-2 form#search_form .form-group input[type="submit"] {
    height: 40px;
    width: 100%;}
    .pantalla-2 ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Poppins;
}
.modal-gral .inside-modal {
    background: #fff;
        margin-top: 1%;
    padding: 0;
    margin-left: 0;
}

.modulo-inicio form, .modulo-registro form {
    width: 75%;}

  .line-modal{
  	width: 75%;
  }

  .btn-fcbk, .btn-google{
  	width: 75%;
  }
  p.small-letter {
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;}
    form.nav-busqueda{
    	display: none;
    }

   .resultados-header p {
    margin-right: 0px;
        margin-bottom: 20px;
}
.resultados-header {
    margin-top: -2px;
    background: #d8d9ef;
    padding-top: 20px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    top: 75px;
    z-index: 1;
}
.nav>li {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}
.navbar-default .navbar-collapse#bs-example-navbar-collapse-1 {
    float: none;
    background: #454edb;
}
section.search-section {
    margin-bottom: 50px;
}

form.nav-busqueda {
    position: absolute;
    left: 30%;
    top: 32%;
}
.cluster-clinica .text-clin{
	border-right: none;
}
section.search-section {
    margin-top: 100px;
}
.cluster-clinica .ask-clin {
    text-align: center;
    margin-top: 20px;
}
.navbar-nav {
    margin: 7.5px -15px;
    text-align: center;
}
.cluster-clinica .text-clin .specific-clinica h3 {
    margin-top: 20px;}
}

@media only screen and (max-width: 350px) {

.boxes-inicio div {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 100%;
}
}

@media screen and (max-width: 450px) and (min-width: 400px) {
	.downloadIndex {
		position: absolute;
		bottom: 15.2%;
		margin-left: 62px;
		top: 1286px;
	}

	.downloadIndex img{
		width: 120px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 550px) and (min-width: 450px) {
	.downloadIndex {
		position: absolute;
		bottom: 15.2%;
		margin-left: 102px;
		top: 1286px;
	}

	.downloadIndex img{
		width: 120px;
		margin-right: 20px;
	}

	.nosotrosFormParent {
		margin-left: 74px;
		flex: 0 0 78%;
		max-width: none;
	}
	.ayudaQuestions {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.nosotrosFormParent {
		margin-left: 0px;
		flex: 0 0 100%;
		max-width: none;
	}
	.nosotrosForm {
		background-color: white;
		padding-top: 11px;
		border-radius: 10px;
		height: 526px;
		padding-left: 10px;
		padding-right: 17px;
	}
	.ayudaQuestions {
		width: 61%;
	}
}

@media screen and (min-width: 700px) {
	.reservaLine {
		display: flex;
	}
	.subEspecialidadLarge {
		width: 180px;
	}
	.reservaFilters {
		margin-top: 36px;
		margin-left: 26px;
		margin-bottom: 36px;
	}
}