<!-- // header -->


<!-- Resultados -->
<!-- // resultados -->
<div class="container-fluid  ">
  <!-- BÚSQUEDA-->
  <div class="row">
      <section class="col-12 col-md-10 offset-md-1  search-section">


          <!-- Filtros -->
          <div class="col-12 col-md-3 float-left filter-search">
              <h2>Medicina</h2>
              <h3>Traumatología</h3>

              <div class="image-ubication">
                  <img src="/assets/img/lugares.png">
                  <p>
                      <a class="pointer" (click)="VerMapa()">Ver Centros en el mapa</a>
                  </p>
              </div>

              <div class="col-xs-12 white">
                  <div class="menu-filters">
                      <a href="" class="activeFilters" id="filtro-simple">Filtros</a>
                      <a href="" id="filtro-extra">Filtros extras</a>
                  </div>
             

                  <form action="" method="" class="form-filter-extra">

                      <!-- Puntuación -->
                  
                      <div class="divider-filtros"></div>


                      <!-- Cantidad de opiniones -->
                      <label>Cantidad de opiniones</label>
                   
                  </form>

              </div>


          </div>
          <!--  //filtros -->


          <!-- Clinicas listado -->
          <div class="col-12 col-md-9 float-left clinica-search">

              

              <div *ngIf="dontResult">
                  <h5 class="text-center text-danger vertical"> "No se han encontrado resultados para esta busqueda"</h5>
              </div>
              <div class="text-center ">
                <p>Estas en peluqueria</p>
              </div>
            
          </div>

      </section>

  </div>
</div>