<br>
<br>
<br>
<br>
<br>
<section class=" col-xs-12 general reserva container-fluid">

  <div class="col-xs-12 col-md-12 calendario-turnos  calendario">
    <div class="dias col-md-10 offset-1 calendario-turnos" height="50px">
      <br>
      <ng-template #modalContent let-close="close">
        <div class="modal-header" style="padding: 0;">
          <span style="font-family: SfUiDisplayMedium; width: 100%; font-size: 14px; margin-top: 17px; margin-left: 38px;">
            TU RESERVA
          </span>
            <button type="button" class="close" (click)="close()" style="margin-right: -5px;">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
          <div class="itemContent">
            <span class="modalTitle">Clinica:</span>
            <span class="modalText">{{ turn?.clinic }}</span>
          </div>
          <div class="itemContent">
            <span class="modalTitle">Doctor:</span>
            <span class="modalText">{{ turn?.doctor }}</span>
          </div>
          <div class="itemContent">
            <span class="modalTitle">Especialidad:</span>
            <span class="modalText">{{ turn?.specialty }}</span>
          </div>
          <div class="itemContent" *ngIf="turn.subspecialty">
            <span class="modalTitle">Sub Especialidad:</span>
            <span class="modalText">{{ turn?.subspecialty }}</span>
          </div>
        </div>
      </ng-template>
      <!-- CANCELAR -->
      <ng-template #modalCanel let-close="close">
        <div class="modal-header">
            <img width="127px" src="/assets/img/logo-white.png" alt="Logo">

          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #formCancle="ngForm" (ngSubmit)="onCancel()" class="form" method="" action="" role="form">
        <div class="modal-body">
          <div class="text-justify">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <h3 class="text-center ">Cancelar turno </h3>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <textarea #Comment="ngModel" name="Comment" [(ngModel)]="confirmTurn.Comment" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Motivo ..."></textarea>
                  </div>
                </div>
                <div class="form-group" *ngIf="completeData">
                    <p class="text-center text-danger">Complete los datos</p>
                </div>
              </div>
           
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" id="cancelCancelButton" (click)="close()">Cancelar</button>
          <button type="submit" class="btn btn-outline-success" >Confirmar</button>

        </div>
        </form>
      </ng-template>

      <!-- CONFIRMAR -->
      <ng-template #modalConfrim let-close="close">
        <div class="modal-header">
            <img width="127px" src="/assets/img/logo-white.png" alt="Logo">

          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #formConfirmar="ngForm" (ngSubmit)="onConfirm()" class="form" method="" action="" role="form">

        <div class="modal-body">
          <div class=" text-justify">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <h3 class="text-center ">Confirmar turno </h3>
                <div class="form-group">
                    <label   class=" text-center" for="">Puntaje</label>
                    <select class="form-control" #Score="ngModel" name="Score" [(ngModel)]="confirmTurn.Score" name="medico-turno" lang="es">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>

                    </select>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <textarea class="form-control" id="exampleFormControlTextarea1" #Comment="ngModel" name="Comment" [(ngModel)]="confirmTurn.Comment" rows="3" placeholder="Comentario ..."></textarea>
                  </div>
                </div>
                <div class="form-group" *ngIf="completeData">
                    <p class="text-center text-danger">Complete los datos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" id="confirmCancelButton" (click)="close()">Cancelar</button>
          <button type="submit" class="btn btn-outline-success" >Confirmar</button>
        </div>
        </form>
      </ng-template>

      <div class="row text-center ">
        <div class="col-md-4 col-sm-2">
            <div class="btn-group">
              <div class="backBtn btn-round-lg seeMore" (click)="Volver()">
                Volver atras
              </div>
            </div>
        </div>
        <div class=" col-md-3 col-sm-5" style="padding-left: 0px; padding-right: 0px;">
          <p class="tamanioTexto ">
            <i (click)="previus(viewDate)" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" class="fa fa-caret-left colorFlecha pointer "></i>
            {{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}
            <i (click)="next(viewDate)"  mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" class=" pointer colorFlecha fa fa-caret-right"></i>
          </p>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="btn-group">
              <div class="backBtnRight btn-round-lg seeMore" (click)="view = 'month'" [class.active]="view === 'month'">
                Mes
              </div>
              &nbsp;
              <div class="backBtnRight btn-round-lg seeMore" (click)="view = 'week'" [class.active]="view === 'week'">
                Semana
              </div>
              &nbsp;
              <div class="backBtnRight btn-round-lg seeMore" (click)="view = 'day'" [class.active]="view === 'day'">
                Día
              </div>
            </div>
        </div>
      </div>

      <div class="row text-center">
      </div>
      <br>

      <ng-template #customCellTemplate let-day="day" let-locale="locale" class="col-md-1 bg-turnos  ">
        <div class="cal-cell-top">
          <!-- <span class="cal-day-badge " *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
          <span class="cal-day-number n-dia">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <div class="t-disp" style="margin: 5px" *ngIf="day.badgeTotal > 0" data-toggle="modal" data-target="#horario">{{ day.events.length }} turnos
          <br> disponibles</div>

      </ng-template>
      <div id="turnos">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
            [locale]="locale">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale">
          </mwl-calendar-day-view>
        </div>
      </div>
      <br>
    </div>
  </div>
</section>