.pointer {cursor: pointer;}
.calendario-turnos .dias .div-contenido-fecha div.col-md-1.bg-turnos.selectedTurno{
    background: #8ef6f4;
    border-left: 4px solid #454edb;
}
.n-dia{

    
    right: 13px;
    
    font-family: Poppins;
    
    font-size: 13px;
    
    top: 6px;
    
    margin-bottom: 0;
    
    color: #454edb;
    }

.cal-day-number {
    font-size: 13px !important;
        opacity: 222 !important;

}

.cal-month-view .cal-cell-top {
    min-height: 25px !important;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 0 !important;
}
.special-day{
    width: 100%;
	max-width: 14.2857%;
	flex: 0 0 14.285%;
	height: 55px;
	line-height: 55px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color: #5a5a5a;
	background: #f1f5fe;
	position: relative;
	z-index: 1;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.cal-month-view .cal-header .cal-cell {
    width: 100%;
	max-width: 14.2857%;
	flex: 0 0 14.285%;
	height: 55px;
	line-height: 55px;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	color: #5a5a5a;
	background: #f1f5fe;
	position: relative;
	z-index: 1;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

.selectedTurno{
    background: #8ef6f4;
	border-left: 4px solid #454edb;
}

.selectedTurno:hover {
    background-color: #8ef6f4 !important;
  }

  .tamanioTexto{
      font-size: 30px;
      text-align: center;

      font-family: SfUiDisplayRegular;
      
      text-transform: uppercase;
      
      font-weight: 500;
      
      font-size: 15px;
      
      letter-spacing: 0.5px;
      
      
      border-radius: 6px 6px 0px 0px;
      
      padding: 0px;
      
      box-shadow:none;
      
      position: relative;
      
      z-index: 2;
  }
  .colorFlecha{
    color: #ccc;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.cal-month-view .cal-header .cal-cell{
    width: 100%;
    max-width: 14.2857%;
    flex: 0 0 14.285%;
    height: 55px;
    line-height: 55px;
    font-family: Poppins;
    font-size: 14px;
    text-align: center;
    color: #5a5a5a;
    background: #f1f5fe;
    position: relative;
    z-index: 1;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: normal !important;
}

.not-available{
	background: grey;
}


.cal-month-view .cal-day-cell:not(:last-child) {
    border-right: 1px solid #e1e1e1;
    background: #f1f1f1 !important;
    cursor: not-allowed;
}

.cal-month-view .cal-day-cell {
    min-height: 100px;
    background: #f1f1f1 !important;
    cursor: not-allowed;
}

.cal-month-view .cal-day-cell .cal-has-events {
    min-height: 100px;
    background: wheat !important;
}

.cal-month-view .cal-day-cell{
    border-right: 1px solid #e1e1e1;
    background: white;
}
.cal-month-view .cal-day-cell:not(:last-child).cal-has-events{
    border-right: 1px solid #e1e1e1;
    background: white !important;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
    background: white !important;
    cursor: pointer;
}

.fa-5x{
    color: #454edb;
}

#confirmacion-definitiva:hover{
	opacity: .7;
}


#confirmacion-definitiva{

background: #50ae20;

color: #fff;

width: 180px;
}

.pointer {cursor: pointer;}
.modal-header{
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    text-align: center;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: auto !important;
    pointer-events: none;
    padding-top: 10%;
}

.horariosModal label{
    display: block;
font-size: 14px;
letter-spacing: 0px;
color: #191919;
margin-top: 20px;
font-family: Poppins;
font-weight: 500;
padding-left: 0;
text-transform: uppercase;
}

.horariosModal  .select2-container{
width:100%!important;
}

.horariosModal  .select2-container--default .select2-selection--single .select2-selection__arrow {
height: 35px;
position: absolute;
top: 1px;
right: 1px;
width: 20px;
}

.horariosModal  .select2-container--default .select2-selection--single .select2-selection__rendered {
color: #6f6f6f;
line-height: 28px;
font-family: Poppins;
font-size: 13px;
margin-top: 4px;
}
.horariosModal .select2-container--default .select2-selection--single {
background-color: #fff;
border: 1px solid #aaa;
border-radius: 4px;
height: 35px;
}
.horariosModal  .form-group{
margin-bottom: 30px;
}


mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-today.cal-in-month.ng-star-inserted.cal-has-events:hover {
    background: #8ef6f4 !important;
}
mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted.cal-has-events:hover {
    background: #8ef6f4 !important;
}


.backBtn{
    color: #454edb;
    border-radius: 50px;
    padding: 10px 3px;
    font-family: SfUiDisplayRegular;
    font-size: 11px;
    border: solid 1px #454edb;
    width: 121px;
}
.backBtnRight{
    color: #454edb;
    border-radius: 50px;
    padding: 10px 3px;
    font-family: SfUiDisplayRegular;
    font-size: 11px;
    border: solid 1px #454edb;
    width: 66px;
}
.seeMore:hover {
    background-color: #454edb;
    color: white !important;
}

.modalTitle {
    font-family: SfUiDisplayMedium;
    font-size: 16px;
}

.modalText {
    font-family: SfUiDisplayLight;
    font-size: 16px;
}

.itemContent {
    margin-bottom: 10px;
}

.cal-month-view .cal-day-badge {
    background-color: #454edb;
}

.cal-month-view .cal-open-day-events {
    background-color: rgba(69, 78, 219, 0.28);
    box-shadow: none;
}

.cal-month-view .cal-event-title:link {
    color: #454edb;
}

.cal-week-view .cal-event {
    background-color: rgba(69, 78, 219, 0.19);
    border: solid 1px #454edb;
}

.cal-week-view .cal-event-title:link {
    color: #454edb;
}

.cal-day-view .cal-event {
    background-color: rgba(69, 78, 219, 0.19);
    border: solid 1px #454edb;
}

.cal-day-view .cal-event-title:link {
    color: #454edb;
}

.cal-week-view .cal-header.cal-today {
    background-color: transparent;
}