<section class=" col-xs-12 general reserva container-fluid">
  <div class="row reserva-align">
    <div class="col-sm-12 col-md-10  offset-sm-5">
      <div class=" col-md-6">
        <img class="text-center" height="400px" src="/assets/img/success.png" alt="">
      </div>
      <div class=" text-reserva">
        <h2 class="text-center" class="">Turno reservado con exito</h2>
        <br>
        <a (click)="volverBuscador()" class=" col-md-3 sig-turno text-white pointer">Volver al buscador</a>
      </div>
    </div>

  </div>

</section>