

/* .badge{
    background-color: red;
    border-radius: .50rem;

} */

.notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
 
  
  .notification .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }

  .imgLogo{
    width: 100%;
    max-width: 60px;
    /* width: 120px; */
    max-height: 140px;
    border-radius: 10%;
    display: block;
    text-align: center;
    margin: auto;
  }

  @media (min-width: 1200px){
    .container {
      max-width: 87%;
  }
  }

  .container {
    max-width: 87%;
}

.special-link{
  border: 1px solid #fff !important;
  border-radius: 50px;

}

