button.delete-filters {
  transition: all 0.3s ease-in-out;
  border: 1px solid #fb1313;
  color: #fb1313;
  width: 48%;
  display: block;
  margin-left: 20px;
  text-align: center;
  height: 35px;
  border-radius: 3px;
  line-height: 35px;
  font-family: Poppins;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 12px;
  display: inline-block;
  background-color: transparent;
}

button.delete-filters:hover {
  transition: all 0.3s ease-in-out;

  background: #fb1313;

  color: #fff;
}

.aplicar-filters {
  transition: all 0.3s ease-in-out;
  /* border: 1px solid #fb1313; */
  color: #fff;
  background: #50ae20;
  width: 35%;
  display: block;
  margin-left: 20px;
  text-align: center;
  height: 35px;
  border-radius: 3px;
  font-family: Poppins;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}
.pointer {
  cursor: pointer;
}

.reservara {
  margin-left: 15%;
}

.see-more {
  color: #803aec !important;
  font-family: Poppins;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 10px;
  display: block;
  cursor: pointer;
}


.custom-control-container {
  margin: 5px;
}
.custom-control {
  cursor: pointer;
  direction: ltr;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: "Roboto", Arial, sans-serif;
  -webkit-user-select: none;
  font-size: 11px !important;
  background-color: rgb(255, 255, 255);
  padding: 1px 6px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.14902);
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  min-width: 28px;
  font-weight: 500;
}

.custom-control:hover {
  font-weight: 900 !important;
}

#google-map{
  height: 474px;
margin-top: 40px;
border-radius: 6px;
margin-left: 30px;
}

a#more-filtersBack {
  color: #454edb;
  font-family: Poppins;
  text-align: center;
  display: inline-block;
  padding: 5px 25px;
  font-size: 11px;
  border: 1px solid #454edb;
  margin-left: 10px;
  border-radius: 4px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transform: translateY(-5px);
}

a#more-filtersBack:hover {
  color: #fff;
  background: #454edb ;

}