<header>

    <!-- Menú -->

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logo-white.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="" class="nav-busqueda">
            <input type="text">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bell" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </div>
                </li>
                <div class="line-menu-header"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="/assets/img/user.png" alt="Usuario">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Editar datos</a>
                        <a class="dropdown-item" href="#">Configurar cuenta</a>
                        <a class="dropdown-item" href="#">Ayuda</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout" href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link help" href="#">Ayuda</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- // menú -->
</header>
<!-- // header -->


<!-- Resultados -->
<div class="col-xs-12 resultados-header">
    <p>Encontramos
        <span class="bold">25 lugares disponibles</span>
    </p>
    <form id="resultados-form" action="" method="">
        <div class="form-group cats">
            <label for="">Categorías</label>
            <select2 name="cats" lang="es">
                <option value="" selected="">Medicina</option>
                <option value="">Traumatología</option>
                <option value="">Cardiología</option>
            </select2>
        </div>
        <div class="form-group fecha-reserva">
            <label>Fecha de reserva</label>
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="input-group-addon form-control" placeholder="22 de Mayo" />
            </div>
        </div>
        <input type="submit" name="" value="Buscar">
    </form>
</div>
<!-- // resultados -->
<div class="container-fluid">
    <!-- BÚSQUEDA-->
    <div class="row">
        <section class="col-12 col-md-10 offset-md-1  search-section">


            <!-- Filtros -->
            <div class="col-12 col-md-3 float-left filter-search">
                <h2>Medicina</h2>
                <h3>Traumatología</h3>

                <div class="image-ubication">
                    <img src="/assets/img/lugares.png">
                    <p>
                        <a [routerLink]="['/ver-mapa']">Ver Centros en el mapa</a>
                    </p>
                </div>

                <div class="col-xs-12 white">
                    <div class="menu-filters">
                        <a href="" class="activeFilters" id="filtro-simple">Filtros</a>
                        <a href="" id="filtro-extra">Filtros extras</a>
                    </div>
                    <form action="" method="" class="form-filter">
                        <!-- Especialidad -->
                        <label>Especialidad</label>
                        <div *ngFor="let row of especialidades">
                            <p>
                                <input type="checkbox" id="cbox{{row.id}}" value="first_checkbox" (click)="FiltrarEspecialidad(row.id,$event)">
                                <label for="cbox{{row.id}}">{{row.description}}</label>
                            </p>
                        </div>

                        <div class="divider-filtros"></div>

                        <!-- Sub especialidad -->
                        <label>Sub especialidad</label>
                        <div *ngFor="let row of subEspecialidades">
                            <p>
                                <input type="checkbox" id="chbox{{row.id}}" value="primer_checkbox" (click)="FiltrarSubEspecialidad(row.id,$event)">
                                <label for="chbox{{row.id}}">{{row.description}}</label>
                            </p>
                        </div>


                        <div class="divider-filtros"></div>
                        <!-- Obra Social -->
                        <label>Obra Social</label>
                        <div *ngFor="let row of obrasSociales">
                            <p>
                                <input type="checkbox" id="chbox{{row.id}}o" value="primer_checkbox_obra" (click)="FiltrarObrasSocial(row.id,$event)">
                                <label for="chbox{{row.id}}o">{{row.description}}</label>
                            </p>
                        </div>

                        <div class="divider-filtros"></div>

                        <!-- Ubicación -->
                        <label>Ubicación</label>
                        <p>
                            <input type="checkbox" id="chebox1" value="pr_checkbox">
                            <label for="chebox1">Capital Federal
                                <span class="small-number">(352)</span>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="chebox2" value="se_checkbox">
                            <label for="chebox2">Nuñez
                                <span class="small-number">(220)</span>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="chebox3" value="te_checkbox">
                            <label for="chebox3">Villa Bosch
                                <span class="small-number">(120)</span>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="chebox4" value="cu_checkbox">
                            <label for="chebox4">Colegiales
                                <span class="small-number">(85)</span>
                            </label>
                        </p>

                        <a href="" class="see-more">Ver más</a>

                        <div class="divider-filtros"></div>


                        <!-- Distancia -->
                        <label>Distancia desde mi ubicación</label>
                        <div class="range-slider">
                            <input class="range-slider__range" type="range" value="0" min="0" max="100" (change)="FiltrarDistancia($event)">
                            <span class="range-slider__value">0</span>
                        </div>
                        <input id="Distancia" type="text" name="desplazo" placeholder="km" class="range-slider">

                        <div class="divider-filtros"></div>

                        <button class="delete-filters btn-transparent pointer" (click)="BorrarFiltros()">Borrar todos los filtros</button>

                    </form>

                    <form action="" method="" class="form-filter-extra">

                        <!-- Puntuación -->
                        <label>Puntuación de clientes</label>
                        <p class="general-puntuacion">0</p>
                        <p class="general-puntuacion wrong">1+</p>
                        <p class="general-puntuacion medium">5+</p>
                        <p class="general-puntuacion good">7+</p>

                        <div class="divider-filtros"></div>


                        <!-- Cantidad de opiniones -->
                        <label>Cantidad de opiniones</label>
                        <p>
                            <input type="checkbox" id="cfbox1" value="firstf_checkbox">
                            <label for="cfbox1">0-10</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox2" value="secondf_checkbox">
                            <label for="cfbox2">10-30</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox3" value="thirdf_checkbox">
                            <label for="cfbox3">30-50</label>
                        </p>
                        <p>
                            <input type="checkbox" id="cfbox4" value="fourthf_checkbox">
                            <label for="cfbox4">más de 50</label>
                        </p>

                        <div class="divider-filtros"></div>

                        <!-- Servicios -->
                        <label for="">Servicios</label>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Guardia</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Radiografías</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Internación</span>
                        </p>
                        <p class="general-servicios">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>WiFi</span>
                        </p>

                        <div class="divider-filtros"></div>

                        <button class="delete-filters btn-transparent pointer" (click)="BorrarFiltros()">Borrar todos los filtros</button>

                    </form>

                </div>


            </div>
            <!--  //filtros -->


            <!-- Clinicas listado -->
            <div class="col-12 col-md-9 float-left clinica-search">

                <!-- Ordenar por -->
                <div class="col-xs-12 ordenar-clinica">
                    <form method="" action="" id="form-ordenar">
                        <div class="form-group ordenar-clinica">
                            <label for="">Ordenar por</label>
                            <select id="ordernarPor" class="form-control col-md-2 pull-right " name="ordenar-clinica" lang="es" (change)="filterOrderBy($event)">
                                <option value="1">Mejor calificación</option>
                                <option value="2">Más popular</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="text-center ">
                    <ng-loading-spinner></ng-loading-spinner>
                    <!-- <img src="/assets/img/loader.gif" class="img" alt=""> -->
                </div>
                <div *ngIf="dontResult">
                    <h5 class="text-center text-danger vertical"> "No se han encontrado resultados para esta busqueda"</h5>
                </div>
                <div *ngFor="let row of clinicas">
                    <a data-toggle="collapse" href="#collapseExample{{row.clinicId}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="col-xs-12 cluster-clinica">
                            <div class="col-xs-12 col-sm-2 img-clin">
                                <img src="{{row.logo}}" alt="Clinica">
                            </div>
                            <div class="col-xs-12 col-sm-6 text-clin">
                                <div class="specific-clinica">
                                    <h3>{{row.name}}</h3>
                                </div>
                                <div class="ubi-clinica">
                                    <i class="fa fa-map-marker"></i>
                                    <span>{{row.address}}</span>
                                </div>

                                <div class="stars-opiniones">
                                    <span *ngFor="let scor of score">
                                        <span *ngIf="row.score -scor >= scor">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </span>

                                    <p>Ver comentarios</p>

                                </div>
                                <p class="descr-clin">{{row.description}}.</p>

                                <!-- <div class="icon-clin">
                                    <span data-toggle="tooltip" title="Médico">
                                        <i class="fa fa-medkit" aria-hidden="true"></i>
                                    </span>
                                    <span data-toggle="tooltip" title="Médico">
                                        <i class="fa fa-medkit" aria-hidden="true"></i>
                                    </span>
                                    <span data-toggle="tooltip" title="Médico">
                                        <i class="fa fa-medkit" aria-hidden="true"></i>
                                    </span>
                                    <span data-toggle="tooltip" title="Médico">
                                        <i class="fa fa-medkit" aria-hidden="true"></i>
                                    </span>
                                    <span data-toggle="tooltip" title="Médico">
                                        <i class="fa fa-medkit" aria-hidden="true"></i>
                                    </span>
                                </div> -->

                            </div>
                            <div class="col-xs-12 col-sm-4 ask-clin">
                                <a href="" class="heart">
                                    <i class="fa fa-heart-o corazon"></i>
                                </a>
                                <h4>{{row.score | number:'.1-5' }}</h4>
                                <a href="" class="comments">
                                    <p>{{row.scoreQuantity}} comentarios</p>
                                </a>

                                <a [routerLink]="['/reserva']" class="reservar">Reservar</a>
                                <a href="" class="pagar">Pagar ahora</a>
                            </div>
                        </div>
                    </a>

                    <div class="col-xs-12 slide-clinica collapse" id="collapseExample{{row.clinicId}}">
                        <div class="col-xs-12 menu-slide">
                            <a (click)="info(row.clinicId)" class="info-slide activeFilter pointer">Información</a>
                            <a (click)="comen(row.clinicId)" class="com-slide pointer">Comentarios</a>
                            <a (click)="ubi(row.clinicId,row.latitude,row.longitude)" class="ubi-slide pointer">Ubicación</a>
                        </div>

                        <div class="col-xs-12 height-slide">

                            <div class="col-xs-12 info-cluster" id="info{{row.clinicId}}">

                                <p>{{row.description}} </p>
                                <!-- 
                                <div class="divider-slide"></div>

                                <h2> Servicios</h2>
                                <div class="services-slide">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <span>Estacionamiento</span>
                                </div>
                                <div class="services-slide">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <span>Gastronomía</span>
                                </div>
                                <div class="services-slide">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <span>Wifi</span>
                                </div>
                                <div class="services-slide">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <span>Guardia</span>
                                </div> -->

                                <div class="divider-slide"></div>

                                <h2>Horarios de atención</h2>

                                <p>Lunes a Viernes de 10hs a 17hs</p>
                                <p>Sábados y Domingos de 10hs a 13hs</p>
                                <p>Feriados: Cerrado</p>
                            </div>

                            <div class="col-xs-12 com-cluster" id="comen{{row.clinicId}}">
                                <!-- <h2>Destacados por los usuarios</h2>
                                <div class="destacado">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <h3>8.0</h3>
                                    <span>Personal</span>
                                </div>
                                <div class="destacado">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <h3>8.0</h3>
                                    <span>Personal</span>
                                </div>
                                <div class="destacado">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <h3>8.0</h3>
                                    <span>Personal</span>
                                </div>
                                <div class="destacado">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <h3>8.0</h3>
                                    <span>Personal</span>
                                </div> -->
                                <!-- <div class="divider-slide"></div> -->

                                <h2>Todos los comentarios</h2>
                                <div class="form-group comentarios form-inline">
                                    <label for="">Ordenar por</label>
                                    <select id="ordernarPor" class="form-control" name="comentarios" lang="es" (change)="filterComentariosOrderBy($event,row.clinicId)">
                                        <option value="2">Más recientes</option>
                                        <option value="1">Mejor calificación</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 comentarios-gral">
                                    <div class="col-xs-12 comentario-single" *ngFor="let comment of row.ratings">
                                        <div class="puntuacion col-xs-4">
                                            <p *ngIf="comment.score >= 7 " class="good">{{comment.score}}</p>
                                            <p *ngIf="comment.score >= 4 && comment.score < 7 " class="warning">{{comment.score}}</p>
                                            <p *ngIf="  comment.score < 4 " class="wrong">{{comment.score}}</p>

                                            <h3>{{comment.user}}</h3>
                                            <span>{{comment.dateTime | date: 'd/M/yy' }}</span>
                                        </div>
                                        <div class="comentario-text col-xs-8">

                                            <p>"{{comment.comment}}"
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 divider-slide"></div>

                                </div>
                            </div>

                            <div class="col-xs-12 ubi-cluster" id="ubi{{row.clinicId}}">
                                <div class="line-mapa">
                                    <div class="line-ubi">
                                        <i class="fa fa-map-marker"></i>
                                        <div class="half-ubi">
                                            <span class="frst">{{row.address}}</span>
                                            <span class="scnd">Palermo</span>
                                        </div>
                                    </div>
                                    <div class="line-button">
                                        <a href="">Cómo llegar</a>

                                    </div>
                                </div>
                                <div id="regularMap{{row.clinicId}}" class="col-xs-12 map"></div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // clinicaes listado -->

        </section>

        <!-- // Búsqueda -->
    </div>
</div>