<section class=" col-xs-12 general reserva container-fluid">

    <div class="row reserva-align">

        <div class="col-sm-12 col-md-10 offset-sm-1">

            <div class="">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-reserva">

                    <h2>Solicite su reserva</h2>
                    <h3>Podrá ver los turnos disponibles durante el mes.</h3>

                </div>


                <!-- Menú -->
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 menu-reserva">
                    <div class="row">
                        <div class="col-xs-6 col-md-4 menu-reserva-single">
                            <div class="row">
                                <div class="col-xs-3 col-md-2">
                                    <span class="activeReserva" id="b1">1</span>
                                </div>
                                <div class="col-xs-9 col-md-10">
                                    <p>Seleccione un día para poder visualizar
                                        <br>las diferentes opciones.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="row">
                                <div class="col-xs-3 col-md-2">
                                    <span id="b2">2</span>
                                </div>
                                <div class="col-xs-9 col-md-10">
                                    <p>Confirmación de reserva</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // menu -->

                <!-- FILTROS Y CALENDARIO -->
                <div class="col-xs-12 filtros-calendario">

                    <div class="row">

                        <!-- Filtros -->
                        <div class="col-xs-4 col-md-2 filters-turnos">
                            <form>
                                <div class="form-group">
                                    <label for="">Especialidad</label>
                                    <select2 (valueChanged)="FiltrarEspecialidad($event)" name="especialidad-turno" lang="es">
                                        <option value=""></option>
                                        <option *ngFor="let row of especialidades" value="{{row.id}}">{{row.text}}</option>
                                    </select2>
                                </div>

                                <div class="form-group">
                                    <label for="">Sub Especialidad</label>
                                    <select2 (valueChanged)="FiltrarSubEspecialidad($event)" name="subespecialidad-turno" lang="es">
                                        <option value=""></option>
                                        <option *ngFor="let row of subEspecialidades" value="{{row.id}}">{{row.text}}</option>
                                    </select2>
                                </div>

                                <div class="form-group">
                                    <label for="">Médico</label>
                                    <select2 (valueChanged)="FiltrarEspecialista($event)"  name="medico-turno" lang="es">
                                        <option value=""></option>
                                        <option *ngFor="let row of especialista" value="{{row.id}}">{{row.firstName}},{{row.lastName}} </option>
                                    </select2>
                                </div>

                                <div class="form-group">
                                    <label for="">Horario</label>
                                
                                    <select (valueChanged)="FiltrarHoraSelect($event)"  name="appointment" class="js-example-basic-single-11">
                                        <option  *ngFor="let appointment of horarios" (click)="FiltrarHora(appointment)">{{appointment}}</option>
                                    </select>   
                                </div>

                                <a (click)="Reservar()" class="sig-turno">Siguiente</a>
                            </form>
                        </div>
                        <!-- // filtros -->

                        <!-- Calendario -->
                        <div class="col-xs-12 col-md-10 calendario-turnos">

                            <div class="dias col-xs-12 calendario-turnos" height="50px">
                                <br>
                                <div>
                                    <div class="row text-center ">
                                        <div class="col-md-4 ">
                                        </div>
                                        <div class=" col-md-4 ">
                                            <p class="tamanioTexto ">
                                                <i (click)="previus(viewDate)" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" class="fa fa-caret-left colorFlecha pointer "></i> {{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}
                                                <i (click)="next(viewDate)" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" class=" pointer colorFlecha fa fa-caret-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" [locale]="locale">
                                    </mwl-demo-utils-calendar-header> -->
                                </div>

                                <ng-template #customCellTemplate let-day="day" let-locale="locale" class="col-md-1 bg-turnos  ">
                                    <div class="cal-cell-top">
                                        <!-- <span class="cal-day-badge " *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
                                        <span class="cal-day-number n-dia">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                                    </div>
                                    <div class="t-disp" style="margin: 5px" *ngIf="day.badgeTotal > 0">{{ day.events.length }} turnos
                                        <br> disponibles</div>

                                </ng-template>
                                <div *ngIf="loading">
                                    <div class="text-center">
                                        <i class="fa fa-spin fa-spinner fa-5x"></i>
                                        <br> Cargando turnos...
                                    </div>
                                </div>
                                <div id="turnos" style="display:none;">
                                    <div [ngSwitch]="view">
                                        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"
                                            [cellTemplate]="customCellTemplate" (dayClicked)="dayClicked($event.day)" [refresh]="refresh"
                                            [cellTemplate]="monthCellTemplate" [locale]="locale" [ngClass]="day?.cssClass">
                                        </mwl-calendar-month-view>
                                        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
                                        </mwl-calendar-week-view>
                                        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
                                        </mwl-calendar-day-view>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>



                <!-- CONFIRMACION RESERVA -->
                <div class="col-xs-12 col-md-7 confirmacion-reserva">
                    <h2>Confirme su reserva</h2>
                    <div class="circle"></div>
                    <div class="square"></div>
                    <div class="col-xs-12 col-md-12 cluster-reserva-def">
                        <h3>Clínica Bazterrica</h3>
                        <h4>Juncal 3002, Ciudad Autónoma de Buenos Aires</h4>

                        <h5>Especialidad</h5>
                        <p>Dermatología</p>

                        <h5>Profesional</h5>
                        <p>Marini Mariano Gabriel</p>

                        <h5>Fecha y hora de la reserva</h5>
                        <p>Martes 03/07/2018 15:40</p>

                        <div class="divider"></div>

                        <div>
                            <h6>Nombre del paciente:</h6>
                            <span>Christian Russo</span>
                        </div>
                        <div>
                            <h6>Cobertura Médica:</h6>
                            <span>OSDE</span>
                        </div>
                        <div>
                            <h6>Plan:</h6>
                            <span>Genérico (1545) </span>
                        </div>

                        <a href="#" id="volver-turno">Volver</a>
                        <button (click)="CheckPaciente()"   id="confirmacion-definitiva">Confirmar reserva</button>
                    </div>

                    <span>Ante cualquier consultam no dude en comunicarse con el Centro al que está reservando.</span>

                </div>

            </div>
        </div>
    </div>
</section>